extends ../_default

block content
  include ../../helpers/_mixins
  div(style='height:1040px')
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container.business-screen-modal
        #modal-content-id-1.slds-modal__content.slds-p-around_medium
          +screen-header('Additional business information')
          <p class="slds-m-tom_x-small text-brand smaller">Verify Information</p>
          <div class="slds-grid slds-wrap">
              <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                  +form-field('EIN', 'input')
              </div>
              <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
                  +form-field('Address', 'input')
              </div>
          </div>
          <p class="slds-m-top_x-small text-brand smaller">Tax Information</p>
          <p class="smaller slds-p-bottom_x-small">Tax numbers must be issued in the applicant’s name.</p>
          <div class="slds-grid slds-wrap">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Ky. Sales & Use Tax #', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Ky. Withholding Tax #', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Ky. Corporate Tax #', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Ky. Corporate Tax #', 'input', false)
                </div>
          </div>
          <p class="slds-m-top_x-small text-brand smaller">Contact Information (Optional)</p>
          <div class="slds-grid slds-wrap">
              <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                  +form-field('Contact name', 'input', false, false)
              </div>
              <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                  +form-field('Contact phone', 'input', false, false)
              </div>
              <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                  +form-field('Contact email', 'input', false)
              </div>
          </div>
        footer.slds-modal__footer
          div.slds-text-align_left.slds-m-top_large
            button.slds-button.slds-button_brand.slds-p-horizontal_xx-large Submit
    .slds-backdrop.slds-backdrop_open
