extends ../_default

block content
  include ../../helpers/_mixins
  div
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container
        #modal-content-id-1.slds-modal__content.slds-p-around_large.small-card-width
            p.slds-p-bottom_small.text-bold.text-brand.text-uppercase Update/Expand Premises
            p.text-500 Explanation of premesis update/expansion
            <div class="slds-form-element__control slds-p-bottom_small">
                <textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>
            </div>
            p.text-500.slds-p-bottom_small Updated premesis blueprint/documents
            div.d-flex.slds-p-bottom_x-large
                p.small.slds-p-vertical_x-small Choose a file
                button.slds-button.slds-button_outline-brand.slds-m-left_small.slds-p-horizontal_large Upload
            button.slds-button.slds-button_brand.slds-button_stretch Submit
    .slds-backdrop.slds-backdrop_open
