extends ../_default

block content
  include ../../helpers/_mixins
  div(style='height:1040px')
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container.business-screen-modal
        #modal-content-id-1.slds-modal__content.slds-p-around_medium
            +screen-header('Add Business Partner')
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    +form-field('Select Business', 'select')
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    +form-field('Business Location', 'select')
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                  p.smaller.slds-p-top_large If the business is not available in the drop down please go to Manage Business and add it.
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-right_medium slds-p-bottom_small slds-size_1-of-1 slds-large-size_4-of-12">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    <fieldset class="slds-form-element">
                        <legend class="slds-form-element__legend slds-form-element__label">US Citizen</legend>
                        <div class="slds-form-element__control">
                            <div class="d-flex justify-between f-left">
                                <span class="slds-radio radio-button-width">
                                    <input type="radio" id="radio-45" value="radio-45" name="options" checked="" />
                                    <label class="slds-radio__label" for="radio-45">
                                        <span class="slds-radio_faux"></span>
                                        <span class="slds-form-element__label">Yes</span>
                                    </label>
                                </span>
                                <span class="slds-radio radio-button-width">
                                    <input type="radio" id="radio-46" value="radio-46" name="options" />
                                    <label class="slds-radio__label" for="radio-46">
                                        <span class="slds-radio_faux"></span>
                                        <span class="slds-form-element__label">No</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    +form-field('Full Name', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
                    +form-field('Address', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('City', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('State', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Zip', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Phone Number', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Mobile Number', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Email Address', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Title', 'input', false, false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Last 4 Digits of SSN', 'input', false, false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Date of Birth', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    +form-field('% Of Ownership (If applicable)', 'input', false, false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
                    label.slds-form-element__label List State(s) Where Person Resided in Past 5 Yrs.
                    <div class="border">
                        <span class="slds-pill slds-pill_link pill-color">
                        <a href="javascript:void(0);" class="slds-pill__action" title="Full pill label verbiage mirrored here">
                            <span class="slds-pill__label">Thakurjeet Bharwana</span>
                        </a>
                        <button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove">
                            <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                            </svg>
                            <span class="slds-assistive-text">Remove</span>
                        </button>
                        </span>
                        <span class="slds-pill slds-pill_link pill-color">
                        <a href="javascript:void(0);" class="slds-pill__action" title="Full pill label verbiage mirrored here">
                            <span class="slds-pill__label">Salma Foncesa</span>
                        </a>
                        <button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove">
                            <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                            </svg>
                            <span class="slds-assistive-text">Remove</span>
                        </button>
                        </span>
                    </div>

                </div>
            </div>
            div.slds-text-align_left.slds-m-top_medium
                button.slds-button.slds-button_outline-brand.slds-p-horizontal_xx-large Add
    .slds-backdrop.slds-backdrop_open