extends ../_default

block content
  include ../../helpers/_mixins
  div
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container
        #modal-content-id-1.slds-modal__content.slds-p-around_small.small-card-width
            <div class="slds-grid slds-wrap slds-p-left_xx-large">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
                    p Are you sure you want to surrender this license? This cannot be reversed.
                </div>
            </div>
            div.slds-text-align_left.slds-m-top_medium.slds-align_absolute-center
                button.slds-button.slds-button_outline-brand.slds-p-horizontal_xx-large Yes
                button.slds-button.slds-button_brand.slds-p-horizontal_xx-large Cancel
    .slds-backdrop.slds-backdrop_open
