extends ../_default

block content
  include ../../helpers/_mixins
  div(style='height:1040px')
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container.business-screen-modal
        #modal-content-id-1.slds-modal__content.slds-p-around_medium
            +screen-header('Add location')
            p.smaller Locations found
            include ../partials/_abc_business_screen_location_table.pug
            <div class="slds-grid slds-wrap slds-m-vertical_medium">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    <hr>
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12 slds-align_absolute-center">
                    <p class="text-brand text-bold text-uppercase">Don’t see what you’re looking for?</p> 
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    <hr>
                </div>
            </div>
            <!-- End of bar-->
            <div class="slds-grid slds-wrap pb10">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_12-of-12">
                    <button class="slds-button slds-button_outline-brand slds-button_stretch">Create a new business
                    </button>
                </div>
            </div>
    .slds-backdrop.slds-backdrop_open
