extends ../_default

block content
  include ../../helpers/_mixins
  div(style='height:1040px')
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container.business-screen-modal
        #modal-content-id-1.slds-modal__content.slds-p-around_medium
            +screen-header('Business Site Details')
            <p class="slds-m-bottom_x-small text-brand smaller">Address Information</p>
            <table class="slds-table">
                <thead class="">
                    <th class="slds-p-around_medium">COMPANY NAME </th>
                    <th class="slds-p-around_medium">LOCATION </th>
                    <th class="slds-p-around_medium">ADDRESS</th>
                    <th class="slds-p-around_medium">CITY AND STATE</th>
                </thead>
                <tr class="">
                    <td class="slds-p-around_medium">Kentucky Alcoholic Beverage Control</td>
                    <td class="slds-p-around_medium">KY ABC - Frankfort</td>
                    <td class="slds-p-around_medium">1003 Twilight Trail</td>
                    <td class="slds-p-around_medium">Frankfort, KY - 40601</td>
                </tr>
            </table>
            <div class="slds-m-vertical_small">
                +form-field('Mark this location as a headquator', 'checkbox')
            </div>
            <p class="slds-m-bottom_x-small text-brand smaller">Verify Information</p>
            <div class="slds-grid slds-wrap slds-m-bottom_small">
                <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12 slds-p-right_small">
                    +form-field('EIN', 'input')
                </div>
            </div>
            <div class="slds-m-vertical_small">
                <p class="text-brand smaller">Tax Information</p>
                p.smaller Tax numbers must be issued in the applicant’s name.
            </div>
            <div class="slds-grid slds-wrap slds-m-bottom_small">
                <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
                    +form-field('Ky. Sales & Use Tax #', 'input',false)
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
                    +form-field('Ky. Without Tax #', 'input',false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-m-bottom_small">
                <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
                    +form-field('Ky. Corporate Tax #', 'input',false)
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
                    +form-field('Faderal EIN #', 'input',false)
                </div>
            </div>
            <div class="slds-m-vertical_small">
                <p class="text-brand smaller">Contact Information (Optional)</p>
            </div>
            <div class="slds-grid slds-wrap pb10">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Contact name', 'input', false, false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Contact phone', 'input', false, false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Contact email', 'input', false)
                </div>
            </div>
        footer.slds-modal__footer
          div.slds-text-align_left.slds-m-top_large
            button.slds-button.slds-button_brand.slds-p-horizontal_xx-large Save
            button.slds-button.slds-button_outline-brand.slds-p-horizontal_xx-large Delete
    .slds-backdrop.slds-backdrop_open