include ../_includes

include partials/_head

body
  .slds-grid.slds-wrap
      .slds-col.slds-size_1-of-1.slds-large-size_6-of-12.slds-show_large
        block content-left
      .slds-col.slds-size_1-of-1.slds-large-size_6-of-12.slds-medium-size_1-of-1
        .auth-wrap.main
          block content-right
          div.slds-m-top_x-large
            include partials/_foot
    
