*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  background: #fcfeff
  font-size: 100%
  font-family: Roboto, sans-serif !important;
  line-height: 1.4
  height: unset

.clearfix::after
  content: "."
  display: block
  clear: both
  font-size: 0
  height: 0
  visibility: hidden

img
  display: block
  max-width: 100%
  height: auto

a
  text-decoration: none
  transition: all .2s linear

.container
  width: 100%
  max-width: $container-width
  margin-left: auto
  margin-right: auto

@import "_typography.scss"
