.text-color-dark {
    color: $color-grey-dark;
}

.text-dull {
    color: #909eb1;
}

.pill-color {
    background-color: #e7f2ff;
}

.text-color {
    color: $color-grey;
}

.text-brand {
    color: $color-brand;
}

.text-success {
    color: #39b54a
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
    font-weight: normal;
    line-height: 1.2;
}

.h1,
h1 {
    font-size: 3.75rem;
}

.h2,
h2 {
    font-size: 3.125rem;
}

.h3,
h3 {
    font-size: 2.5rem;
}

.h4,
h4 {
    font-size: 2.1875rem;
}

.h5,
h5 {
    font-size: 1.75rem;
}

.h6,
h6 {
    font-size: 1.5rem;
}

.caption {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.text-small,
.small,
small {
    font-size: 0.875rem;
}

.text-smaller,
.smaller {
    font-size: 0.75rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-500 {
    font-weight: 500;
}

.text-bold {
    font-weight: bold;
}

.has-underline {
    text-decoration: underline;
}