$color-white: #ffffff;
$color-grey: #646464;
$color-grey-dark: #353535;
$color-bg: #fcfeff;

$color-red: #952f00;
$color-orange: #f37021;
$color-green: #009508;
$color-blue: #00263e;

$color-brand: #128ec3;
$color-brand-alt: #128ec3;
$color-brand-button-text: $color-white;

$color-secondary: #f2f4f7;
$color-secondary-alt: $color-white;
$color-secondary-alt-2: $color-secondary-alt;
$color-secondary-button-border: rgba(0, 0, 0, 0.1);
$color-secondary-button-text: #454f57;

$color-navbar-bg: $color-white;
$color-navbar-text: $color-grey-dark;

$container-width: 1110px;

@if $variables=='ABC' {
  // changes for ABC
  $color-brand: #0d3cc8;
  $color-brand-alt: #0429b5;
  $color-brand-button-text: $color-white;

  $color-secondary: #479eeb;
  $color-secondary-alt: #479eeb;
  $color-secondary-alt-2: $color-white;
  $color-secondary-button-border: #479eeb;
  $color-secondary-button-text: $color-white;

  $color-navbar-bg: #30333d;
  $color-navbar-text: $color-white;

  $container-width: 1340px;
}

@else if $variables=='KCPE' {
  //changes for KCPE
  $color-brand: #128ec3;
  $color-brand-alt: #128ec3;
}
