extends templates/_default
block content
  include templates/partials/_timeline
  .container
    .slds-grid.slds-gutters.slds-m-top_large.slds-p-horizontal_medium
      .slds-col.slds-size_2-of-12.slds-p-left_none.slds-show_small
        +get_timeline('addLicenseList')
      .slds-col.slds-size_1-of-1.slds-small-size_10-of-12.slds-medium-size_8-of-12.slds-large-size_10-of-12
        if htmlWebpackPlugin.options.variables == 'ABC'
          .slds-card.has-header
            .slds-card__body
              include templates/partials/_abc_application_screen_01
          include templates/partials/_abc_application_screen_02
          include templates/partials/_abc_application_screen_03

          .slds-card.has-header
            .slds-card__body
              include templates/partials/_abc_application_screen_06



          .slds-card__header
            h6.text-500 Sign and Submit
          .slds-card__body
            include templates/partials/_application_screen_15

          include templates/partials/_abc_next_prev_button
        else
          .slds-card__header
            h6.text-500 Upload Documents
          .slds-card__body
            include templates/partials/_application_screen_10

          .slds-card__header
            h6.text-500 Instructions
          .slds-card__body
            include templates/partials/_application_screen_01

          .slds-card__header
            h6.text-500 Contact Information
          .slds-card__body
            include templates/partials/_application_screen_02

          .slds-card__header
            h6.text-500 Program &amp; Enrollment
          .slds-card__body
            include templates/partials/_application_screen_03

          .slds-card__header
            h6.text-500 Residency Status
          .slds-card__body
            include templates/partials/_application_screen_05

          .slds-card__header
            h6.text-500 Sign and Submit
          .slds-card__body
            include templates/partials/_application_screen_11

          .slds-card__header
            h6.text-500 Sign and Submit
          .slds-card__body
            include templates/partials/_application_screen_04
