extends templates/_default

block content
  if htmlWebpackPlugin.options.variables == 'ABC'
    div.container.slds-p-bottom_xx-large
      h1.h3.slds-m-bottom_medium Welcome to the new ABC portal!
      h2.h6.slds-m-bottom_large Have you changed majors or institutions since your original application? Recertify below

      .slds-grid.slds-gutters.slds-m-bottom_xx-large
        .slds-col.slds-size_3-of-12
          button.slds-button.slds-button_brand.slds-button_stretch New Application

      include templates/partials/_tabs-horizontal
      include templates/partials/_card-approved
      include templates/partials/_card-expired
  else
    div.container.slds-p-bottom_xx-large
      h1.h3.slds-m-bottom_medium Welcome to the new CPE portal!
      h2.h6.slds-m-bottom_large Have you changed majors or institutions since your original application? Recertify below

      .slds-grid.slds-gutters.slds-m-bottom_xx-large
        .slds-col.slds-size_3-of-12
          button.slds-button.slds-button_outline-brand.slds-button_stretch New Application

      h3.h4.slds-m-bottom_medium My Applications
      include templates/partials/_card-success
      include templates/partials/_card-in-review
      include templates/partials/_card-in-denied
      include templates/partials/_card-payment-failed.pug
      include templates/partials/_card-in-withdrawn
      include templates/partials/_card-in-progress
      include templates/partials/_card-with-pointers
      include templates/partials/_card-small
      include templates/partials/_card-small-dark
      include templates/partials/_card-small-dark
    div.container.slds-p-bottom_xx-large
      h2.h6.slds-m-bottom_xx-large Which of the following applications do you want to apply for?

      .slds-grid.slds-gutters.slds-m-bottom_xx-large
        .slds-col.slds-size_1-of-2
          include templates/partials/_card
        .slds-col.slds-size_1-of-2
          include templates/partials/_card

      include templates/partials/_card-small

      .slds-grid.slds-gutters.slds-m-top_xx-large
        .slds-col.slds-size_1-of-3
          include templates/partials/_card-with-cta
        .slds-col.slds-size_1-of-3
          include templates/partials/_card-with-cta-2
        .slds-col.slds-size_1-of-3
          include templates/partials/_card-with-cta
