extends templates/_default

block content
  div.slds-p-around_medium
    h3.text-brand #{htmlWebpackPlugin.options.variables} STYLE GUIDE for Kentucky Projects:
    br

    h4
      u Typography:
    include templates/partials/_typography
    br

    h4
      u Buttons:
    include templates/partials/_button
    br

    h4
      u Timeline:
    br
    include templates/partials/_timeline
    +get_timeline('changeLicense')
    br
