extends templates/_default

block content
  div(style='height:640px')
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container
        header.slds-modal__header
          button.slds-button.slds-button_icon.slds-modal__close.slds-button_icon-inverse(title='Close')
            svg.slds-button__icon.slds-button__icon_large(aria-hidden='true')
              use(xlink:href='/assets/icons/utility-sprite/svg/symbols.svg#close')
            span.slds-assistive-text Close
          h6.text-500.slds-text-align_left Modal Header
        #modal-content-id-1.slds-modal__content.slds-p-around_medium
          p
            | Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis. Cillum sunt ad dolore
            | quis aute consequat ipsum magna exercitation reprehenderit magna. Tempor cupidatat consequat elit dolor adipisicing.
          p
            | Dolor eiusmod sunt ex incididunt cillum quis nostrud velit duis sit officia. Lorem aliqua enim laboris do dolor eiusmod officia. Mollit incididunt nisi consectetur esse laborum eiusmod pariatur proident. Eiusmod et adipisicing culpa deserunt nostrud
            | ad veniam nulla aute est. Labore esse esse cupidatat amet velit id elit consequat minim ullamco mollit enim excepteur ea.
        footer.slds-modal__footer
          button.slds-button.slds-button_outline-brand Exit
          button.slds-button.slds-button_brand Submit
    .slds-backdrop.slds-backdrop_open
