extends templates/_abc
block content
  if htmlWebpackPlugin.options.variables != 'ABC'
    .container
      .slds-card.has-header.slds-m-top_large
        .slds-card__header
          h6.text-500 Personal details
        .slds-card__body
          .slds-grid.slds-gutters
            .slds-col.slds-size_3-of-5
              .slds-grid.slds-gutters
                .slds-col.slds-size_1-of-2
                  .slds-form-element
                    label.slds-form-element__label(for='text-input-id-1') First Name
                    .slds-form-element__control
                      input#text-input-id-1.slds-input(type='text')
                .slds-col.slds-size_1-of-2
                  .slds-form-element
                    label.slds-form-element__label(for='text-input-id-1') Last Name
                    .slds-form-element__control
                      input#text-input-id-1.slds-input(type='text')
          .slds-grid.slds-gutters
            .slds-col.slds-size_3-of-5
              .slds-form-element
                label.slds-form-element__label(for='text-input-id-1') Email Address
                .slds-form-element__control
                  input#text-input-id-1.slds-input(type='text')

          div.slds-text-align_right.slds-m-top_medium
            button.slds-button.slds-button_brand.slds-m-left_large Save
  else
    include /helpers/_mixins
    .slds-tabs_default
      ul.slds-tabs_default__nav.slds-p-left_xx-large(role='tablist')
        li.slds-tabs_default__item(title='Item One', role='presentation')
          a#tab-default-1__item.slds-tabs_default__link(role='tab', tabindex='0', aria-selected='false', aria-controls='tab-default-1') Personal details
        li.slds-tabs_default__item.slds-is-active(title='Item Two', role='presentation')
          a#tab-default-2__item.slds-tabs_default__link(role='tab', tabindex='-1', aria-selected='true', aria-controls='tab-default-2') Business details
        li.slds-tabs_default__item(title='Item Three', role='presentation')
          a#tab-default-3__item.slds-tabs_default__link(role='tab', tabindex='-1', aria-selected='false', aria-controls='tab-default-3') Site settings

      #tab-default-1.slds-tabs_default__content.background-grey.slds-show(role='tabpanel', aria-labelledby='tab-default-1__item')
        .slds-card.slds-m-horizontal_xx-large.has-header
          .slds-card__body
            include templates/partials/_abc_profile_screen_personal_details.pug

      #tab-default-2.slds-tabs_default__content.background-grey.slds-show(role='tabpanel', aria-labelledby='tab-default-2__item')
        .slds-card.slds-m-horizontal_xx-large.has-header
          .slds-card__body
            //- first part of business details
            include templates/partials/_abc_profile_screen_business_details.pug
              //include templates/modals/abc_profile_screen_additional_business_modal.pug
              //-  Modals for business details screen
                include templates/modals/abc_profile_screen_add_business_modal.pug
                include templates/modals/abc_profile_screen_add_location_modal.pug
            //- Second part of business details
        include templates/partials/_abc_profile_screen_business_details_second_screen.pug
            //include templates/modals/abc_profile_screen_add_business_partner_modal.pug
            //include templates/modals/abc_profile_screen_business_site_details_modal.pug

      #tab-default-3.slds-tabs_default__content.background-grey.slds-show(role='tabpanel', aria-labelledby='tab-default-3__item')
        include templates/partials/_abc_profile_screen_site_settings.pug
