extends templates/_default
block content
  include templates/partials/_timeline
  .container
    .slds-grid.slds-gutters.slds-m-top_large.slds-p-horizontal_medium
      .slds-col.slds-size_2-of-12.slds-p-left_none.slds-show_small
        +get_timeline('addLicenseList')
      .slds-col.slds-size_1-of-1.slds-small-size_7-of-12.slds-medium-size_8-of-12.slds-large-size_10-of-12
        .slds-card.has-header
            .slds-card__body
                include templates/partials/_abc_application_renew_license_card_1
        .slds-card.has-header
            .slds-card__body
                include templates/partials/_abc_renew_license_card_2
        .slds-card.has-header
            .slds-card__body
                include templates/partials/_abc_rename_license_card_3
        .slds-card.has-header
            .slds-card__body
                include templates/partials/_abc_application_renew_license_card_2
        .slds-card.has-header
            .slds-card__body
                include templates/partials/_abc_renew_license_card_4
        .slds-card.has-header
            .slds-card__body
                include templates/partials/_abc_renew_license_card_5
        .slds-card.has-header
            .slds-card__body
                include templates/partials/_abc_change_license_type_card_4
        .slds-card.has-header
            .slds-card__body
                include templates/partials/_abc_change_premises_locaion_card_5
        div.slds-text-align_right.slds-m-top_large.slds-p-horizontal_medium.slds-m-bottom_large
          button.slds-button.slds-button_outline-brand Back
          button.slds-button.slds-button_brand.slds-m-left_large.slds-p-horizontal_xx-large Next
