extends templates/_default
block content
  include templates/partials/_timeline
  .container
    .slds-grid.slds-gutters.slds-m-top_large.slds-p-horizontal_medium
      .slds-col.slds-size_2-of-12.slds-p-left_none.slds-show_small
        +get_timeline('tempLicense')
      .slds-col.slds-size_1-of-1.slds-small-size_10-of-12.slds-medium-size_8-of-12.slds-large-size_10-of-12
        if htmlWebpackPlugin.options.variables == 'ABC'
          .container.d-flex.justify-space-between
            .d-flex.slds-grid.slds-grid_vertical
                .h7.text-brand EVENT DETAILS
                p Lorem Ipsum dler miniature zaserd ceasurem abhrakam kesarwami ujjwalam samprapyami
            button.slds-button.slds-button_outline-brand.slds-float_right Add an event

          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_1

          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_2

          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_3

          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_4
          
          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_5
          
          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_6

