include ../../../helpers/_mixins
.slds-grid.slds-wrap.streched
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12.m-t-22
      +card-header('Documents', 'Upload the required document as mentioned below')
      .slds-grid.slds-wrap.pb10.outline
         .slds-col.slds-size_1-of-1.slds-large-size_8-of-12
            p.slds-var-p-around_large Attach copy of the newspaper advertisement for this license.
         .slds-col.slds-size_1-of-1.slds-large-size_2-of-12.slds-align-middle.download-button-padding
         .slds-col.slds-size_1-of-1.slds-large-size_2-of-12.slds-align-middle.download-button-padding.text-success
            p(slds-var-p-around_large='') Uploaded
            p
