include ../../../helpers/_mixins
.slds-grid.slds-wrap.streched
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12.m-t-22
      +card-header('Payment', '')
      .slds-grid.streche
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12.m-t-22.payment-option.bank-payment
      +radio-button('',['Credit/debit card payment'])
   .more-options
      p.small There is 2.75% convinience fee added to the total for credit card payments.
      .m-t-22
         .slds-grid.slds-wrap.pb10.streched-15
            .slds-col.slds-p-right_medium.slds-size_1-of-1.slds-large-size_12-of-12
               +form-field('Cardholder name (as it appears on the card)', 'input')
      .m-t-22
         .slds-grid.slds-wrap.pb10.streched-15
            .slds-col.slds-p-right_medium.slds-size_1-of-1.slds-large-size_6-of-12
               +form-field('Card number', 'input')
            .slds-col.slds-p-right_medium.slds-size_1-of-1.slds-large-size_2-of-12
               +form-field('CVV', 'input')
            .slds-col.slds-p-right_medium.slds-size_1-of-1.slds-large-size_2-of-12
               +form-field('Expiration month', 'select')
            .slds-col.slds-p-right_medium.slds-size_1-of-1.slds-large-size_2-of-12
               +form-field('Expiration month', 'select')

   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12.m-t-22.payment-option
      +radio-button('',['ACH: Automated clearing house'])


      