include ../../../helpers/_mixins
.slds-grid.slds-wrap.streched
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12
      +card-header('TYPE OF EVENT', 'You can select one option')
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12.m-t-22
      p Choose the types of events
      +radio-button('',['Non-Profit', 'For-Profit'])
   .slds-col.slds-size_1-of-1.slds-large-size_4-of-12.m-t-22
      p How many bars/points of sales
      +form-field('', 'select')
      