include ../../../helpers/_mixins
.slds-grid.slds-wrap.streched
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12
      +card-header('CONTACT DETAILS', '')
   .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
    +form-field('First Name', 'input')
   .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
    +form-field('Middle Name', 'input', false)
   .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
    +form-field('Last Name', 'input')
   .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
    +form-field('Phone Number', 'input')
   .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
    +form-field('Email', 'input', false)
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12.m-t-22
      +form-field('Same contact person for all the events above', 'checkbox')
