include ../../../helpers/_mixins
.slds-grid.slds-wrap.streched
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12
      +card-header('FIRST EVENT DETAILS', '')
   .slds-col.slds-size_1-of-1.slds-large-size_8-of-12
    +form-field('Name of the event', 'input')
   .slds-col.slds-size_1-of-1.slds-large-size_4-of-12
    +form-field('Date of the event', 'input')
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12
    .slds-button.slds-button_outline-brand.w-100.m-t-22 Upload a Flyer
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12
    hr.hr-text(data-content='DON\'T HAVE A EVENT FLYER')
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12
    +form-field('Description of the event', 'textarea') 
   .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
    +form-field('How many bars/points of sales', 'select')
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12
    p.m-t-22.text-brand Address Information
   .slds-grid.slds-wrap.slds-size_1-of-1.slds-large-size_12-of-12.streched-15.m-t-22
    .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
        +form-field('Street address', 'input')
    .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
        +form-field('City', 'input')
    .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
        +form-field('State', 'input')
    .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
        +form-field('Zip','input')
    .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
        +form-field('Country','input')
    .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
        +form-field('Phone number','input', false)
   .slds-col.slds-size_1-of-1.slds-large-size_12-of-12
    p.m-t-22.text-brand Host Details
   .slds-grid.slds-wrap.slds-size_1-of-1.slds-large-size_12-of-12.streched-15.m-t-22
    .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
        +form-field('Host', 'input')
    .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
        +form-field('Phone Number', 'input', 'false')
    .slds-col.slds-size_1-of-1.slds-large-size_6-of-12
        +form-field('Email', 'input', 'false')