$background: '/assets/images/KCPE/sidebar.jpg';
@if $variables == 'ABC' {
  $background: '/assets/images/ABC/sidebar.png';
}

.auth-wrap {
    padding: 3rem;
    min-height: 100vh;
    &.sidebar {
        background-image: url($background);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.main {
        padding: 50px;
        background-color: #fefbff;
    }
}
.login-text {
    font-size: 0.8rem;
}