p.text-brand.slds-m-bottom_x-small.text-bold.text-uppercase Quote Summary
<p class="slds-m-bottom_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.</p>
<div class="slds-scrollable">
    <table class="slds-table">
        <thead class="">
            <th class="slds-p-around_medium">LICENSING TYPE </th>
            <th class="slds-p-around_medium">PERIOD</th>
            <th class="slds-p-around_medium">AMOUNT</th>
        </thead>
        <tr class="">
            <td class="slds-p-around_medium">NQ Retail Malt Beverage Package License (KRS 243.280)</td>
            <td class="slds-p-around_medium">1 Year</td>
            <td class="slds-p-around_medium">$570</td>
        </tr>
    </table>
    <div class="slds-grid slds-gutters slds-p-top_small">
        <div class="slds-col slds-size_10-of-12 text-right">
            <p class="text-bold">Total Amount</p>
        </div>
        <div class="slds-col slds-size_2-of-12 text-right">
            <p class="slds-p-right_x-large slds-m-right_x-small">$570</p>
        </div>
    </div>
</div>