
include ../../helpers/_mixins
h6.text-brand.slds-p-bottom_medium BUSINESS INFORMATION
<div class="slds-grid slds-wrap ">
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Business Name', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Comnpany Name', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Proprietor Name', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Address', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Street', 'input', false)
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('City', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Zip','input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('State','input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Country','input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Phone Number','input', false)
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Mobile Number','input', false)
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Email Address','input', false)
    </div>
</div>
<div class="slds-p-left_small">
    +form-field('License address is same as business address', 'checkbox')
</div>