include ../../helpers/_mixins
+card-header('Retail selling', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.')
<p class="text-brand slds-m-bottom_x-small">Retail Type</p>
<div class="slds-box">
    <p class="text-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            +form-field('Bar, Restaurant, Adult Entertainment Center, Grocery Store, Convenience Store, Pharmacy, Package Store, Private Club/Organization, Motel/Hotel/Bed & Breakfast Historic Site, Golf Course, Restaurant, Convention Center, Horse Track, Automobile Race Track, Air or Rail System, State Park, Airport, Theatre, Riverboat, Distillery, Dining Car', 'checkbox')
            +form-field('Entertainmant Destination Center', 'checkbox')
            <div class="slds-m-left_x-large">
                +radio-button('', ['Distilling', 'Rectifying'], false)
            </div>
            +form-field('Party Bike', 'checkbox')    
</div>

<p class="text-brand slds-m-bottom_x-small slds-m-top_x-small">Alcohal</p>
<div class="slds-box">
    <p class="text-bold"> Select Alcohol Type</p>
    <div class="slds-m-top_small slds-m-left_x-large">
        +form-field('Malt Beverage', 'checkbox')
        +form-field('Distilled Spirits', 'checkbox')
        +form-field('Wine', 'checkbox')
    </div>
</div>

<p class="text-brand slds-m-bottom_x-small slds-m-top_x-small">Retail Clarification</p>
<div class="slds-box">
    <div class="slds-p-bottom_large">
        <p class="text-bold"> Are you selling non-beverage alcohol? (i.e. food containing alcohol)</p>
        +radio-button('',['Yes', 'No'])
    </div>
    <div class="slds-p-bottom_large">
        <p class="text-bold"> Do you require an extended hours license to serve alcohol Sunday?</p>
        +radio-button('',['Yes', 'No'])
    </div>
    <div>
        <p class="text-bold"> Will be you be serving alcohol from 2 bars on premises?</p>
        +radio-button('',['Yes', 'No'])
    </div>
</div>