include ../../helpers/_mixins
+screen-header('Business sites')
<p class="text-brand slds-m-bottom_x-small smaller">Kentucky Alcoholic Beverage Control</p>
<div style="overflow-x:auto;">
    <table class="slds-table">
        <thead class="">
            <th class="slds-p-around_medium">LOCATION NAME </th>
            <th class="slds-p-around_medium">ADDRESS</th>
            <th class="slds-p-around_medium">CITY AND STATE</th>
            <th class="slds-p-around_medium">CONTACT PER SITE</th>
            <th class="slds-p-around_medium"></th>
        </thead>
        <tr class="">
            <td class="slds-p-around_medium">KY ABC - Frankfort</td>
            <td class="slds-p-around_medium">1003 Twilight Trail</td>
            <td class="slds-p-around_medium">Frankfort, KY - 40601</td>
            <td class="slds-p-around_medium">Henk Fortuin</td>
            <td class="slds-p-around_medium">
                <button class="slds-button slds-button_outline-brand slds-p-horizontal_large"> Details
                </button>
            </td>
        </tr>
        <tr class="">
            <td class="slds-p-around_medium">KY ABC - Louisville</td>
            <td class="slds-p-around_medium">12700 Townepark Way Ste 205</td>
            <td class="slds-p-around_medium">Louisville, KY - 40243</td>
            <td class="slds-p-around_medium">-</td>
            <td class="slds-p-around_medium">
                <button class="slds-button slds-button_outline-brand slds-p-horizontal_large">Details
                </button>
            </td>
        </tr>
    </table>
</div>
<button class="slds-button slds-button_outline-brand slds-m-vertical_medium">+ Add a location
</button>

<p class="text-brand slds-m-bottom_x-small smaller">MTX Group Inc.</p>
<div style="overflow-x:auto;">
    <table class="slds-table">
        <thead class="">
            <th class="slds-p-around_medium">LOCATION NAME </th>
            <th class="slds-p-around_medium">ADDRESS</th>
            <th class="slds-p-around_medium">CITY AND STATE</th>
            <th class="slds-p-around_medium">CONTACT PER SITE</th>
            <th class="slds-p-around_medium">CONTACT PER SITE</th>
        </thead>
        <tr class="">
            <td class="slds-p-around_medium">MTX Group Inc - Albany</td>
            <td class="slds-p-around_medium">1450 Western Avenue - Suite 304</td>
            <td class="slds-p-around_medium">Albany, NY - 12203</td>
            <td class="slds-p-around_medium">Dwan Fortuin</td>
            <td class="slds-p-around_medium">
                <button class="slds-button slds-button_outline-brand slds-p-horizontal_large"> Details
                </button>
            </td>
        </tr>
        <tr class="">
            <td class="slds-p-around_medium">KY ABC - Louisville</td>
            <td class="slds-p-around_medium">12700 Townepark Way Ste 205</td>
            <td class="slds-p-around_medium">Louisville, KY - 40243</td>
            <td class="slds-p-around_medium">-</td>
            <td class="slds-p-around_medium">
                <button class="slds-button slds-button_outline-brand slds-p-horizontal_large">Details
                </button>
            </td>
        </tr>
    </table>
</div>
<button class="slds-button slds-button_outline-brand slds-m-vertical_medium">+ Add a location
</button>
