include ../../helpers/_mixins
+card-header('Business partner information')
<div  class="border">
    <span class="slds-pill slds-pill_link pill-color">
    <a href="javascript:void(0);" class="slds-pill__action" title="Full pill label verbiage mirrored here">
        <span class="slds-pill__label">Thakurjeet Bharwana</span>
    </a>
    <button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove">
        <svg class="slds-button__icon" aria-hidden="true">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Remove</span>
    </button>
    </span>
    <span class="slds-pill slds-pill_link pill-color">
    <a href="javascript:void(0);" class="slds-pill__action" title="Full pill label verbiage mirrored here">
        <span class="slds-pill__label">Salma Foncesa</span>
    </a>
    <button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove">
        <svg class="slds-button__icon" aria-hidden="true">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Remove</span>
    </button>
    </span>
</div>

div.slds-text-align_left.slds-m-top_large
  button.slds-button.slds-button_outline-brand + Add another person
