include ../../helpers/_mixins
+card-header('Producing alcohol', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.')
<p class="text-brand slds-m-bottom_x-small">Alcohol</p>
<div class="slds-box">
    <p class="text-bold">Select Alcohol Type</p>
    <div class="slds-m-top_small slds-m-left_x-large">
        +form-field('Malt Beverage', 'checkbox')
        +form-field('Distilled Spirits', 'checkbox')
        <div class="slds-m-left_x-large">
            +radio-button('', ['Distilling', 'Rectifying'], false)
        </div>
        +form-field('Wine', 'checkbox')
        +form-field('Non-Beverage Alcohol', 'checkbox')
    </div>
</div>



<p class="text-brand slds-m-bottom_x-small slds-m-top_x-small">Production Volume</p>
<div class="slds-box">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    <div class="slds-grid slds-wrap slds-p-bottom_small">
        <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
            +form-field('Distilling in Gallons', 'checkbox')
        </div>
        <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
            +form-field('', 'select')
        </div>
    </div>
    <div class="slds-grid slds-wrap slds-p-bottom_small">
        <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
            +form-field('Brewing in Barrels', 'checkbox')
        </div>
        <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
            +form-field('', 'select')
        </div>
    </div>
    <div class="slds-grid slds-wrap slds-p-bottom_small">
        <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
                +form-field('Vinting in Gallons', 'checkbox')
        </div>
        <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
            +form-field('', 'select')
        </div>
    </div>
</div>