include ../../helpers/_mixins
+screen-header('NQ1 Retail Drink License (KRS 243.082)')
<div class="slds-grid slds-wrap slds-p-bottom_small">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
        <p class="slds-m-bottom_x-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque fringilla tellus non maximus. Morbi malesuada nisl in neque fringilla, laoreet mattis massa pulvinar. Cras quis placerat sem, vitae iaculis nisl. Sed at semper tellus. Maecenas purus justo, ullamcorper sed bibendum quis, blandit elementum elit.</p>
        <p class="text-bold">License statute: <a class="has-underline">htttps://www.link.com/link/license</a></p>
    </div>
</div>
<div style="overflow-x:auto;">
    <table class="slds-table">
        <thead class="">
            <th class="slds-p-around_medium">LOCATION NAME </th>
            <th class="slds-p-around_medium">ADDRESS</th>
            <th class="slds-p-around_medium">CITY AND STATE</th>
            <th class="slds-p-around_medium">CONTACT PER SITE</th>
        </thead>
        <tr class="">
            <td class="slds-p-around_medium">KY ABC - Frankfort</td>
            <td class="slds-p-around_medium">1003 Twilight Trail</td>
            <td class="slds-p-around_medium">Frankfort, KY - 40601</td>
            <td class="slds-p-around_medium">Henk Fortuin</td>
        </tr>
    </table>
</div>

p.text-brand.slds-p-top_large.slds-p-bottom_small License information
ul.bullet-list.slds-p-left_large
    <li>Maecenas purus justo, ullamcorper sed bibendum quis, blandit elementum elit. </li>
    <li>Donec mattis, justo sed pharetra dignissim, nulla tellus mattis leo, sed tincidunt lectus sapien quis turpis. </li>
    <li>Nulla lacus enim, hendrerit id quam nec, maximus fermentum ex. Donec ut neque laoreet, tempus leo cursus, rutrum turpis. In fringilla, mauris vel laoreet congue, lorem tellus rutrum dolor, at semper nulla nibh in enim. </li>
    <li>Morbi vel fermentum lorem. Phasellus feugiat nunc dolor, sit amet imperdiet est tempus sagittis.</li>