include ../../helpers/_mixins
p.text-brand.text-uppercase.text-bold.slds-m-bottom_medium Business Information
<div class="slds-grid slds-wrap ">
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Business Name', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Comnpany Name', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Proprietor Name', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Street address', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('City', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('State', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Zip','input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Country','input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Phone number','input', false)
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Email address','input', false)
    </div>    
</div>
