include ../../helpers/_mixins
mixin radio-group(label, options = [], horizontal = true)
    <div class="slds-form-element__control slds-m-bottom_x-large slds-p-bottom_small slds-m-top_xx-small">
        <div class="d-flex justify-between f-left slds-m-left_x-large">
            each item in options
                <span class="slds-radio">
                    <input type="radio" />
                    <label class="slds-radio__label text-500">
                        <span class="slds-radio_faux"></span>
                        <span class="slds-form-element__label">#{item}</span>
                    </label>
                </span>
        </div>  
    </div>
+card-header('Business Partners')
<p class="slds-m-bottom_x-small">Complete the following for the business proprietor, partner(s), and all persons having an interest in the business to be licensed. List all owners, officers, directors, partners, managing members, members, and shareholders. If privately-held, show 100% of the ownership. If publicly-traded, list the three highest ranking officers and any natural person who owns ten (10) percent or more. If a non-profit, list the highest ranking director or officer.</p>
<p class="text-brand slds-m-bottom_x-small smaller">Kentucky Alcoholic Beverage Control</p>
<div style="overflow-x:auto;">
    <table class="slds-table">
        <thead class="">
            <th class="slds-p-around_medium">PARTNER NAME  </th>
            <th class="slds-p-around_medium">DESIGNATION</th>
            <th class="slds-p-around_medium">OWNERSHIP</th>
            <th class="slds-p-around_medium">ADDRESS</th>
            <th class="slds-p-around_medium">PHONE NO.</th>
            <th class="slds-p-around_medium">MOBILE NO.</th>
            <th class="slds-p-around_medium"></th>
        </thead>
        <tr class="">
            <td class="slds-p-around_medium">Thakurjeet Bharwana</td>
            <td class="slds-p-around_medium">Co-Founder</td>
            <td class="slds-p-around_medium">50%</td>
            <td class="slds-p-around_medium">1003 Twilight Trail, Frankfort, USA</td>
            <td class="slds-p-around_medium">+01 9876543210</td>
            <td class="slds-p-around_medium">+01 9876543210</td>
            <td class="slds-p-around_medium">

            </td>
        </tr>
        <tr class="">
            <td class="slds-p-around_medium">John Doe</td>
            <td class="slds-p-around_medium">Director</td>
            <td class="slds-p-around_medium">50%</td>
            <td class="slds-p-around_medium">1003 Twilight Trail, Frankfort, USA</td>
            <td class="slds-p-around_medium">+01 9876543210</td>
            <td class="slds-p-around_medium">+01 9876543210</td>
            <td class="slds-p-around_medium">

            </td>
        </tr>
    </table>
</div>
<button class="slds-button slds-button_outline-brand slds-m-vertical_medium">+ Add a partner
</button>

<p class="slds-m-bottom_large">The following questions are to be completed by the new person(s) listed above.</p>
<div class="slds-m-bottom_medium">
    <div class="d-flex ">
        <p>1. </p>
        <p class="text-bold slds-m-left_medium">Do you have an interest in any alcoholic beverage business or the premises of any alcoholic beverage business other than that for which you are herein applying?</p>
    </div>
        +radio-group('',['Yes', 'No'])
        <div class="slds-form-element slds-m-left_x-large">
            <label class="slds-form-element__label" >Describe the interest
                <abbr class="slds-required" title="required">* </abbr>
            </label>
            <div class="slds-form-element__control">
                <input type="text" required="" class="slds-input" />
            </div>
        </div>
</div>
<div class="slds-m-bottom_medium">
    <div class="d-flex ">
        <p>2. </p>
        <p class="text-bold slds-m-left_medium">Have you been convicted of any felony in the past five (5) years or been convicted of misdemeanor directly or indirectly related to alcohol or a controlled substance within the past two (2) years?</p>
    </div>
        +radio-group('',['Yes', 'No'])
</div>
<div class="slds-m-bottom_medium">
    <div class="d-flex ">
        <p>3. </p>
        <p class="text-bold slds-m-left_medium">Are there pending proceedings against the licensee for a violation of any statute or regulation which may result in the suspension or revocation of this license(s)?</p>
    </div>
        +radio-group('',['Yes', 'No'])
</div>
<div class="slds-m-bottom_medium">
    <div class="d-flex">
        <p>4. </p>
        <p class="text-bold slds-m-left_medium">Is the licensee in debt on the inventory to Kentucky Wholesaler reponsible for the collection and payment of the tax imposed under KRS 243.884?</p>
    </div>
        +radio-group('',['Yes', 'No'])
</div>