.slds-card.has-header
   .slds-card__body
      include /_abc_application_screen_03_card_1
.slds-card.has-header
   .slds-card__body
      include /_abc_application_screen_03_card_4
.slds-card.has-header
   .slds-card__body
      include /_abc_application_screen_03_card_2
.slds-card.has-header
   .slds-card__body
      include /_abc_application_screen_03_card_3
