include ../../helpers/_mixins

h6.text-brand.slds-p-bottom_medium EXISTING BUSINESS
<div class="slds-grid slds-wrap">
   <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
     +form-field('Select Business', 'select')
   </div>
   <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
         +form-field('Business Location', 'select')
   </div>
   <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
      <button class="slds-button slds-button_neutral m-t-22 text-color">Add New Location</button>
   </div>
</div>
