p.text-brand.slds-m-bottom_x-small.text-bold.text-uppercase Confirmation
<p class="slds-m-bottom_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.</p>
<fieldset class="slds-form-element">
    p.text-bold Does the applicant have ownership of the premises by lease, permit, management agreement or land contract for the entire license period?
    <div class="slds-form-element__control">
        <div class="d-flex justify-between f-left">
            <span class="slds-radio radio-button-width">
                <input type="radio" id="radio-45" value="radio-45" name="options" checked="" />
                <label class="slds-radio__label" for="radio-45">
                    <span class="slds-radio_faux"></span>
                    <span class="slds-form-element__label">Yes</span>
                </label>
            </span>
            <span class="slds-radio radio-button-width">
                <input type="radio" id="radio-46" value="radio-46" name="options" />
                <label class="slds-radio__label" for="radio-46">
                    <span class="slds-radio_faux"></span>
                    <span class="slds-form-element__label">No</span>
                </label>
            </span>
        </div>
    </div>
</fieldset>