include ../../helpers/_mixins
p.text-brand.slds-m-bottom_x-small.text-bold.text-uppercase Tax information
<p class="slds-m-bottom_small">Tax Numbers must be issued in the applicant name.</p>
<div class="slds-grid slds-wrap pb10">
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
      +disabled-input('Ky. Sales & Use Tax #', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Ky. Without Tax #', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Ky. Corporate Tax #', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Faderal EIN #', 'input')
    </div>
</div>