<div style="overflow-x:auto;">
    <table class="slds-table">
        <thead class="">
            <th class="slds-p-around_medium">S.NO.</th>
            <th class="slds-p-around_medium">COMPANY NAME </th>
            <th class="slds-p-around_medium">ADDRESS</th>
            <th class="slds-p-around_medium">CITY AND STATE</th>
            <th class="slds-p-around_medium">ADD BUSINESS</th>
        </thead>
        <tr class="">
            <td class="slds-p-around_medium">1</td>
            <td class="slds-p-around_medium">Cedar Springs, Inc</td>
            <td class="slds-p-around_medium">2212 Starshine Parkway</td>
            <td class="slds-p-around_medium">Frankfort, KY - 40601</td>
            <td class="slds-p-around_medium">
                <button class="slds-button slds-button_outline-brand slds-p-horizontal_large">+ Add
                </button>
            </td>
        </tr>
        <tr class="">
            <td class="slds-p-around_medium">2</td>
            <td class="slds-p-around_medium">Cedar Springs Wine & Spirits</td>
            <td class="slds-p-around_medium">12700 Townepark Way Ste 205</td>
            <td class="slds-p-around_medium">Louisville, KY - 40243</td>
            <td class="slds-p-around_medium">
                <button class="slds-button slds-button_outline-brand slds-p-horizontal_large">+ Add
                </button>
            </td>
        </tr>
    </table>
</div>