include ../../helpers/_mixins
p.text-brand.text-uppercase.text-bold.slds-m-bottom_medium Licensee Details
<div class="slds-grid slds-wrap">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('First Name', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Middle Name', 'input', false)
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Last Name', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('City', 'input', false)
    </div>
</div>
<div class="slds-grid slds-wrap slds-p-bottom_small">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('State', 'input', false)
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Zip', 'input', false)
    </div>
</div>
