mixin radio-group(label, options = [], horizontal = true)
    <div class="slds-form-element__control slds-m-bottom_x-large slds-p-bottom_small slds-m-top_xx-small">
        <div class="d-flex justify-between f-left slds-m-left_x-large">
            each item in options
                <span class="slds-radio">
                    <input type="radio" />
                    <label class="slds-radio__label text-500">
                        <span class="slds-radio_faux"></span>
                        <span class="slds-form-element__label">#{item}</span>
                    </label>
                </span>
        </div>  
    </div>
p.text-brand.slds-m-bottom_x-small.text-bold.text-uppercase Requirements
<div class="slds-m-bottom_medium">
    <div class="d-flex ">
        <p>1. </p>
        <p class="text-bold slds-m-left_medium">Does the applicant still have a valid deed, lease, permit, management agreement or land contract for the licensed premises?</p>
    </div>
        +radio-group('',['Yes', 'No'])
</div>
<div class="slds-m-bottom_medium">
    <div class="d-flex ">
        <p>2. </p>
        <p class="text-bold slds-m-left_medium">Have there been any changes which would require a new application, or has anyone who has an interest in the license(s) been convicted of a Misdemeanor directly or indirectly related to alcoholic beverages or controlled substances, or any Felony since this license was obtained?</p>
    </div>
        +radio-group('',['Yes', 'No'])
        .slds-grid.slds-wrap.slds-m-top_medium.slds-m-left_x-large.border
            .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_10-of-12
                p.slds-p-top_small Attach a full detailed statement.
            .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_2-of-12
                <button class="slds-button slds-p-vertical_x-small slds-button_outline-brand">
                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#download"></use>
                    </svg>Upload Statement
                </button>
</div>
<div class="slds-m-bottom_medium">
    <div class="d-flex ">
        <p>3. </p>
        <p class="text-bold slds-m-left_medium">Will tobacco products, alternative nicotine products, or vapor products be sold at the premise to be licensed?</p>
    </div>
        +radio-group('',['Yes', 'No'])
        <div class="slds-m-top_small slds-m-left_x-large border">
            .slds-p-around_small
                p Check all the products that will be sold.
                .slds-p-vertical_x-small
                    +form-field('Tobacco Products', 'checkbox')
                .slds-p-vertical_x-small
                    +form-field('Alternative nicotine products', 'checkbox')
                .slds-p-vertical_x-small
                    +form-field('Vapor products', 'checkbox')
        </div>
</div>