include ../../helpers/_mixins

h6.text-brand.slds-p-bottom_medium BUSINESS DETAILS
+radio-button('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', ['Use Existing', 'Create New'], false)