div.slds-text-align_right.slds-m-top_large.slds-p-horizontal_medium.slds-m-bottom_large
  button.slds-button.slds-button_outline-brand Back
  button.slds-button.slds-button_brand.slds-m-left_large Next