include ../../helpers/_mixins
+card-header('Documents', 'Upload the required document as mentioned below')


<div class="slds-grid slds-wrap pb10 outline">
    <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
        <p class="slds-var-p-around_large">Attach copy of the newspaper advertisement for this license.</p>
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-12 slds-align-middle download-button-padding">
        
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-12 slds-align-middle download-button-padding text-success">
        <p slds-var-p-around_large>Uploaded<p>
    </div>
</div>
<div class="slds-grid slds-wrap pb10 outline">
    <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
            <p class="slds-var-p-around_large">Attach a copy of the necessary criminal background check(s) from the state(s) where you have resided in the past five years</p>
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-12 slds-align-middle download-button-padding">
        
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-12 slds-align-middle download-button-padding">
        <button class="slds-button slds-button_outline-brand">Upload</button>
    </div>
</div>
<div class="slds-grid slds-wrap pb10 outline">
    <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
        <p class="slds-var-p-around_large">Attach the secured signature approval from the local ABC Administrator on this application (if applicable) Or Visit http://abc.ky.gov for a list of Local ABC Administrators in your area.</p>
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-12 slds-align-middle download-button-padding">
        
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-12 slds-align-middle download-button-padding">
        <button class="slds-button slds-button_outline-brand">Upload</button>
    </div>
</div>
<div class="slds-grid slds-wrap pb10 outline">
    <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
        <p class="slds-var-p-around_large">Attach additional required documents</p>    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-12 slds-align-middle download-button-padding">
        
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-12 slds-align-middle download-button-padding">
        <button class="slds-button slds-button_outline-brand">Upload</button>
    </div>
</div>

