include ../../helpers/_mixins
+screen-header('Personal details')
<div class="slds-grid slds-wrap">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('First Name', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Middle Name', 'input', false)
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Last Name', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Address', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Street', 'input', false)
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('City', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Zip', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('State', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Country', 'select')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Phone Number', 'input', false)
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Mobile Number', 'input', false)
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Email Address', 'input')
    </div>
</div>

div.slds-text-align_left.slds-m-top_large
  button.slds-button.slds-button_outline-brand Save
  button.slds-button.slds-button_brand.slds-m-left_large Save and Continue

