include ../../helpers/_mixins

+card-header('Primary use of license', 'You can select multiple options.')

<div class="slds-grid slds-wrap slds-grid_pull-padded">
    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
        <div class="slds-radio_add-button">
            <input type="radio" class="slds-assistive-text" name="radio-group" id="add-radio-13" value="add-radio-13" />
            <label for="add-radio-13" class="slds-radio_add-button-cap"></label>
            <div class="cap-content">
                <label  for="add-radio-13" class="img"><img src="/assets/images/acting.svg" ></label>
                <label  for="add-radio-13" class="img-white"><img src="/assets/images/acting_white.svg" ></label>
                <label for="add-radio-13" class="text">Producing Alcohol</label>
            </div>
        </div>
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
        <div class="slds-radio_add-button">
            <input type="radio" class="slds-assistive-text" name="radio-group" id="add-radio-14" value="add-radio-13" />
            <label for="add-radio-14" class="slds-radio_add-button-cap"></label>
            <div class="cap-content">
                <label  for="add-radio-14" class="img"><img src="/assets/images/acting.svg" ></label>
                <label  for="add-radio-13" class="img-white"><img src="/assets/images/acting_white.svg" ></label>
                <label for="add-radio-14"  class="text">Producing Alcohol</label>
            </div>
        </div>
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
        <div class="slds-radio_add-button">
            <input type="radio" class="slds-assistive-text" name="radio-group" id="add-radio-15" value="add-radio-13" />
            <label for="add-radio-15" class="slds-radio_add-button-cap"></label>
            <div class="cap-content">
                <label  for="add-radio-15" class="img"><img src="/assets/images/acting.svg" ></label>
                <label  for="add-radio-13" class="img-white"><img src="/assets/images/acting_white.svg" ></label>
                <label for="add-radio-15"  class="text">Producing Alcohol</label>
            </div>
        </div>
    </div>
</div>
