include ../../helpers/_mixins
.slds-card.slds-m-horizontal_xx-large.has-header
  .slds-card__body
    +screen-header('Email preferences')
    .slds-m-top_small
      +form-field('Unsubscribe from all email', 'checkbox')
    .slds-m-left_x-large Stop receiving all Kentucky Alcoholic Beverage Control marketing communications, including email updates and all subscriptions. Note: You will still receive emails related to your account.
.slds-card.slds-m-horizontal_xx-large.has-header
  .slds-card__body
    +screen-header('Email addresses')
    .slds-m-top_small
      p Change your main email address, add alternates, and choose which you'd like us to use.

    .slds-m-top_small
      <div class="slds-grid slds-wrap">
        <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
            +form-field('Primary Email', 'input')
        </div>
      </div>
      <div class="slds-grid slds-wrap d-flex align-flex-end">
        <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
            +form-field('Secondary Email', 'input')
        </div>
        <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
          <button class="slds-button slds-button_outline-brand">Set as primary</button>
        </div>
      </div>

    .slds-m-top_small
      <button class="slds-button slds-button_outline-brand">+ Add another email address</button>
.slds-card.slds-m-horizontal_xx-large.has-header
  .slds-card__body
    +screen-header('Password')
    .slds-m-top_small
      p Update it regularly to keep your account secure.

    .slds-m-top_small
      <div class="slds-grid slds-wrap">
        <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
            +form-field('Current Password', 'input')
        </div>
        <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
            +form-field('New Password', 'input')
        </div>
        <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
            +form-field('Retype Password', 'input')
        </div>
      </div>

    .slds-m-top_small
      <button class="slds-button slds-button_outline-brand">Update</button>
