.slds-card.has-header
   .slds-card__body
      include /_abc_application_screen_02_card_1
.slds-card.has-header
   .slds-card__body
      include /_abc_application_screen_02_card_2
.slds-card.has-header
   .slds-card__body
      include /_abc_application_screen_02_card_3
.slds-card.has-header
   .slds-card__body
      include /_abc_application_screen_02_card_4
.slds-card.has-header
   .slds-card__body
      include /_abc_application_screen_02_card_5
