include ../../helpers/_mixins
+screen-header('Licensed Location')
<p class="text-brand slds-m-bottom_x-small smaller">Kentucky Alcoholic Beverage Control</p>
<div style="overflow-x:auto;">
    <table class="slds-table">
        <thead class="">
            <th class="slds-p-around_medium">LOCATION NAME </th>
            <th class="slds-p-around_medium">ADDRESS</th>
            <th class="slds-p-around_medium">CITY AND STATE</th>
            <th class="slds-p-around_medium">CONTACT PER SITE</th>
        </thead>
        <tr class="">
            <td class="slds-p-around_medium">KY ABC - Frankfort</td>
            <td class="slds-p-around_medium">1003 Twilight Trail</td>
            <td class="slds-p-around_medium">Frankfort, KY - 40601</td>
            <td class="slds-p-around_medium">Henk Fortuin</td>
        </tr>
    </table>
</div>