include ../../helpers/_mixins
+card-header('Secondary use of license', 'You can select multiple options.')
<div class="slds-m-top_small">
    +form-field('Producing Alcohol', 'checkbox')
    +form-field('Retail Selling', 'checkbox')
    +form-field('Distributing/Wholesaling', 'checkbox')
    +form-field('Transporting', 'checkbox')
    +form-field('Storing', 'checkbox')
    +form-field('Acting as a Special Agent or Solictor', 'checkbox')
</div>

