include ../../helpers/_mixins
<div class="slds-grid slds-wrap pb10">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_12-of-12">
        +form-field('Company', 'input')
    </div>
</div>
<div class="slds-grid slds-wrap pb10">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
        +form-field('Country', 'select')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
        +form-field('State/Province', 'select')
    </div>
</div>
div.slds-text-align_left.slds-m-top_large
  button.slds-button.slds-button_outline-brand.slds-p-horizontal_xx-large Search
  button.slds-button.slds-button_brand.slds-m-left_large.slds-p-horizontal_xx-large Search

<!-- Search result start-->
<p class="slds-m-vertical_small">Search Results</p>
include ./_abc_business_screen_location_table.pug

<!-- Search result end-->
<!-- Horizontal bar -->
<div class="slds-grid slds-wrap slds-m-vertical_medium">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
        <hr>
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12 slds-align_absolute-center">
        <p class="text-brand text-bold text-uppercase">Don’t see what you’re looking for?</p> 
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
        <hr>
    </div>
</div>
<!-- End of bar-->
<div class="slds-grid slds-wrap slds-p-bottom_medium">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_12-of-12">
        <button class="slds-button slds-button_outline-brand slds-button_stretch">Create a new business
        </button>
    </div>
</div>
