include ../../helpers/_mixins
.slds-grid.slds-wrap.streched
    .slds-col.slds-size_1-of-1.slds-large-size_12-of-12.m-t-22
        p.text-brand.slds-m-bottom_x-small.text-bold.text-uppercase Submission and Status
        p.slds-m-bottom_medium Overview of the Application
        .slds-grid.streched-15
            .slds-col.m-t-22.slds-small-size_5-of-12.slds-medium-size_4-of-12.slds-large-size_2-of-12
                div.greenbox
                span.slds-icon_container.slds-icon-utility-like
                    svg.slds-icon.slds-icon-text-default(aria-hidden='true')
                        use(xlink:href='/assets/icons/symbols.svg#like')

                
            .slds-col.m-t-22.slds-small-size_8-of-12.slds-medium-size_8-of-12.slds-large-size_10-of-12
                h3.text-brand Thank you
                span Your subbmision has been received
        
        .slds-grid.streched-15
            .slds-col.m-t-22.slds-small-size_5-of-12.slds-medium-size_4-of-12.slds-large-size_2-of-12
                div.greenbox.red-border
                span.slds-icon_container.slds-icon-utility-like
                    svg.slds-icon.slds-icon-text-default(aria-hidden='true')
                        use(xlink:href='/assets/icons/symbols.svg#info')

                
            .slds-col.m-t-22.slds-small-size_8-of-12.slds-medium-size_8-of-12.slds-large-size_10-of-12
                h3.slds-text-color_destructive Payment Failed
                span The transaction couldn't be made. Please retry
                
        .slds-grid
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. 
        .slds-grid.streched-15
            .slds-p-around_medium.slds-show_small
                button.slds-button.slds-button_brand Go to the dashboard
                button.slds-button.slds-button_outline-brand Check application status
            .slds-p-around_medium.slds-hide_small
                button.slds-button.slds-button_brand.w-100 Go to the dashboard
                button.slds-button.slds-button_outline-brand.slds-m-left_none.w-100.slds-m-top_medium Check application status

