include ../../helpers/_mixins
<div class="slds-m-horizontal_xx-large">
    +screen-header('Business details')
    <div class="slds-grid slds-wrap slds-p-bottom_small">
        <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
            <p class="smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
        <div class="slds-col slds-p-right_none slds-size_1-of-1 slds-large-size_4-of-12 slds-text-align_right">
            button.slds-button.slds-button_outline-brand + Add a business
        </div>
    </div>
</div>
.slds-card.has-header.slds-m-horizontal_xx-large
   .slds-card__body
      include /_abc_profile_screen_business_card_1
.slds-card.has-header.slds-m-horizontal_xx-large
   .slds-card__body
      include /_abc_profile_screen_business_card_2
.slds-card.has-header.slds-m-horizontal_xx-large
