include ../../helpers/_mixins
p.text-bold.text-brand.slds-p-bottom_medium.text-uppercase License Information
div.slds-card.border
    .slds-card__label.is-expired.d-flex.align-center
        p.text-small Retail
    .slds-grid.slds-wrap.slds-m-top_small
        .slds-col.slds-p-horizontal_small.slds-large-size_4-of-12
            p Licensing Name
        .slds-col.slds-p-horizontal_small.slds-large-size_4-of-12 
            p 21C LEXINGTON LLC
    .slds-grid.slds-wrap.slds-m-top_small
        .slds-col.slds-p-horizontal_small.slds-large-size_4-of-12
            p Licensing Fee Full Year
        .slds-col.slds-p-horizontal_small.slds-large-size_4-of-12 
            p $4,730.00
    .slds-grid.slds-wrap.slds-m-top_small.slds-m-bottom_small
        .slds-col.slds-p-horizontal_small.slds-large-size_4-of-12
            p Licensing Fee Two Year
        .slds-col.slds-p-horizontal_small.slds-large-size_4-of-12 
            p $9,460.00

p.slds-m-vertical_small.text-500 Amount
.slds-scrollable
    table.slds-table.slds-m-bottom_large.slds
        thead
            th.slds-p-around_medium TITLE OF LICENSE(S)
            th.slds-p-around_medium LICENSE NUMBER
            th.slds-p-around_medium CURRENT LICENSE EXPIRES
            th.slds-p-around_medium
                p.slds-m-top_small ANNUAL RENEWAL FEE
                .slds-grid.slds-wrap.slds-m-top_xx-small
                .slds-col.slds-large-size_6-of-12
                    p.text-dull 1 YEAR
                .slds-col.slds-large-size_6-of-12
                    p.text-dull 2 YEAR

        tr
            td Caterer's License
            td 034-CL-422
            td 11/30/2018
            td
                .slds-grid.slds-wrap.slds-m-top_xx-small
                    .slds-col.slds-large-size_6-of-12
                        p $830.00
                    .slds-col.slds-large-size_6-of-12
                        p -
        tr
            td Hotel In-Room License
            td 034-HI-29
            td 11/30/2018
            td
                .slds-grid.slds-wrap.slds-m-top_xx-small
                    .slds-col.slds-large-size_6-of-12
                        p $830.00
                    .slds-col.slds-large-size_6-of-12
                        p -
        tr
            td Quota Retail Package License
            td 034-HI-29
            td 11/30/2018
            td
                .slds-grid.slds-wrap.slds-m-top_xx-small
                    .slds-col.slds-large-size_6-of-12
                        p $830.00
                    .slds-col.slds-large-size_6-of-12
                        p -
        tr
            td NQ2 Retail Drink License
            td 034-HI-29
            td 11/30/2018
            td
                .slds-grid.slds-wrap.slds-m-top_xx-small
                    .slds-col.slds-large-size_6-of-12
                        p $830.00
                    .slds-col.slds-large-size_6-of-12
                        p -
        tr
            td Special Sunday Retail Drink License
            td 034-HI-29
            td 11/30/2018
            td
                .slds-grid.slds-wrap.slds-m-top_xx-small
                    .slds-col.slds-large-size_6-of-12
                        p $830.00
                    .slds-col.slds-large-size_6-of-12
                        p -    
        tr
            td Supplemental Bar License
            td 034-HI-29
            td 11/30/2018
            td
                .slds-grid.slds-wrap.slds-m-top_xx-small
                    .slds-col.slds-large-size_6-of-12
                        p $830.00
                    .slds-col.slds-large-size_6-of-12
                        p -
        tr
            td Sampling License
            td 034-HI-29
            td 11/30/2018
            td
                .slds-grid.slds-wrap.slds-m-top_xx-small
                    .slds-col.slds-large-size_6-of-12
                        p $830.00
                    .slds-col.slds-large-size_6-of-12
                        p -
        tr
            td 
                p.text-bold Total Fee Due
            td 
            td
            td 
                .slds-grid.slds-wrap.slds-m-top_xx-small
                    .slds-col.slds-large-size_6-of-12
                        p.text-bold $4,730.00
                    .slds-col.slds-large-size_6-of-12
                        p.text-bold -