include ../../helpers/_mixins
p.text-brand.text-uppercase.text-bold.slds-m-bottom_medium Business Information
<div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Business Name', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Comnpany Name', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Proprietor Name', 'input')
    </div>
</div>
<div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Street address', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('City', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('State', 'input')
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Zip','input')
    </div>
</div>
<div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Country','input')
    </div>
</div>
<div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Phone number','input', false)
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Mobile number','input', false)
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12">
        +disabled-input('Email address','input', false)
    </div>
    
</div>
