include ../../helpers/_mixins
+screen-header('Add a business')
include ./_abc_profile_screen_add_business_card.pug
<!--Create new business-->
+screen-header('Create a new business')
<div class="slds-grid slds-wrap">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Company Name', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Street Address', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('City', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('State', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Zip', 'select')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Country', 'select')
    </div>
</div>
<div class="slds-grid slds-wrap pb10">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
      div.slds-text-align_left.slds-m-top_large
        button.slds-button.slds-button_outline-brand + Add
    </div>
</div>
<!--End create new business-->