include ../../helpers/_mixins
+card-header('License questions')
- var questions = [{name:'Is this a publicly-traded company?', description:'If yes, you will be asked to attach the criminal background checks for the three highest ranking officers and any person who owns ten percent(10%) or more interest. If not you will be asked to attach the criminal background checks for all persons listed in Section C'},{name:'Does applicant have ownership of premesis by lease, permit, management agreement, or land contract for the entire license period', desctiption:'You will be asked for legal description of the boundaries of the permises (i.e. draring, blue prints, a deed, or metes and bounds etc. )'},{name:'Is the applicant a corporation, limited partnership, limited liability company (LLC) or other legally recognized entity?', desctiption:''},{name:'Has the applicant or any person listed in ever been licensed to sell alcoholic beverages', desctiption:''},{name:'Does the applicant or anh person named have 10% interest or more in any alcohol license type?',description:''}]

    <div >
        <ol class="slds-p-left_medium decimal-list">
        each item, index in questions
            <li class="slds-p-bottom_xx-large">
                <p class="text-bold">#{item.name}</p>
                if item.description != ''
                    <p>#{item.description}</p>
                +radio-button('',['Yes','No'])
                if index == 3
                    <div class="slds-box">
                        <div class="slds-grid slds-wrap slds-p-bottom_small">
                            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
                                +form-field('Alcohol Producer', 'checkbox')
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
                                +form-field('Business Name', 'input', false, true)
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
                                +form-field('State', 'input', false, true)
                            </div>
                        </div>
                        <div class="slds-grid slds-wrap slds-p-bottom_small">
                            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
                                +form-field('Distributer/Wholesaler:', 'checkbox')
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
                                +form-field('Business Name', 'input', false, true)
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
                                +form-field('State', 'input', false, true)
                            </div>
                        </div>
                        <div class="slds-grid slds-wrap slds-p-bottom_small">
                            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
                                +form-field('Retailer:', 'checkbox')
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
                                +form-field('Business Name', 'input', false, true)
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
                                +form-field('State', 'input', false, true)
                            </div>
                        </div>
                    </div>
            </li>
        </ol>
    </div>
