include ../../helpers/_mixins

p.text-bold.text-brand.slds-p-bottom_medium.text-uppercase Licensee DetailS
<div class="slds-grid slds-wrap">
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('First Name', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Middle Name', 'input', false)
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Last Name', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Street address', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('City', 'input')
    </div>
    <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
        +form-field('Zip', 'select')
    </div>
</div>