include ../../helpers/_mixins
p.text-brand.text-uppercase.text-bold.slds-m-bottom_medium Existing Business
<div class="slds-grid slds-wrap">
   <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
     +form-field('Choose from your saved businesses', 'select')
   </div>
   <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
         +form-field('Choose a location', 'select')
   </div>
</div>
