h6.slds-m-bottom_large Upload the required documents for your application.
table.slds-table.slds-table_cell-buffer.slds-table_bordered.slds-no-row-hover
  thead
    tr.slds-line-height_reset
      th(scope='col')
        .slds-truncate(title='Opportunity Name') Opportunity Name
      th(scope='col')
        .slds-truncate(title='Account Name') Account Name
      th(scope='col')
        .slds-truncate(title='Close Date') Close Date
      th(scope='col')
        .slds-truncate(title='Stage') Stage
  tbody
    tr.slds-hint-parent
      td(data-label='Account Name')
        .slds-cell-wrap.slds-truncate(title='Cloudhub') Copy of your official admission letter showing the specific ACM program or major.
      td(data-label='Account Name')
        .slds-truncate(title='Cloudhub')
          <button class="slds-button">Button</button>
      td(data-label='Close Date')
        .slds-truncate(title='4/14/2015') Remaining
      td(data-label='Prospecting')
        .slds-truncate(title='Cloudhub')
          button.slds-button.slds-button_outline-brand.slds-truncate
            span.slds-icon_container.slds-icon-utility-upload.slds-m-right_small
            span Upload Document
    tr.slds-hint-parent
      td(data-label='Account Name')
        .slds-cell-wrap.slds-truncate(title='Cloudhub') Copy of your official admission letter showing the specific ACM program or major.
      td(data-label='Account Name')
        .slds-truncate(title='Cloudhub')
          <button class="slds-button">Button</button>
      td(data-label='Close Date')
        .slds-truncate(title='4/14/2015') Remaining
      td(data-label='Prospecting')
        .slds-truncate(title='Cloudhub')
          button.slds-button.slds-button_outline-brand.slds-truncate
            span.slds-icon_container.slds-icon-utility-upload.slds-m-right_small
            span Upload Document
    tr.slds-hint-parent
      td(data-label='Account Name')
        .slds-cell-wrap.slds-truncate(title='Cloudhub') Copy of your official admission letter showing the specific ACM program or major.
      td(data-label='Account Name')
        .slds-truncate(title='Cloudhub')
          <button class="slds-button">Button</button>
      td(data-label='Close Date')
        .slds-truncate(title='4/14/2015') Remaining
      td(data-label='Prospecting')
        .slds-truncate(title='Cloudhub')
          button.slds-button.slds-button_outline-brand.slds-truncate
            span.slds-icon_container.slds-icon-utility-upload.slds-m-right_small
            span Upload Document
hr
h6.slds-m-vertical_large Alternative Documents if you don’t have 740 Kentucky individual tax return.
table.slds-table.slds-table_cell-buffer.slds-table_bordered.slds-no-row-hover
  thead
    tr.slds-line-height_reset
      th(scope='col')
        .slds-truncate(title='Opportunity Name') Opportunity Name
      th(scope='col')
        .slds-truncate(title='Account Name') Account Name
      th(scope='col')
        .slds-truncate(title='Close Date') Close Date
      th(scope='col')
        .slds-truncate(title='Stage') Stage
  tbody
    tr.slds-hint-parent
      td(data-label='Account Name')
        .slds-cell-wrap.slds-truncate(title='Cloudhub') Copy of your official admission letter showing the specific ACM program or major.
      td(data-label='Account Name')
        .slds-truncate(title='Cloudhub')
          <button class="slds-button">Button</button>
      td(data-label='Close Date')
        .slds-truncate(title='4/14/2015') Remaining
      td(data-label='Prospecting')
        .slds-truncate(title='Cloudhub')
          button.slds-button.slds-button_outline-brand.slds-truncate
            span.slds-icon_container.slds-icon-utility-upload.slds-m-right_small
            span Upload Document
    tr.slds-hint-parent
      td(data-label='Account Name')
        .slds-cell-wrap.slds-truncate(title='Cloudhub') Copy of your official admission letter showing the specific ACM program or major.
      td(data-label='Account Name')
        .slds-truncate(title='Cloudhub')
          <button class="slds-button">Button</button>
      td(data-label='Close Date')
        .slds-truncate(title='4/14/2015') Remaining
      td(data-label='Prospecting')
        .slds-truncate(title='Cloudhub')
          button.slds-button.slds-button_outline-brand.slds-truncate
            span.slds-icon_container.slds-icon-utility-upload.slds-m-right_small
            span Upload Document
    tr.slds-hint-parent
      td(data-label='Account Name')
        .slds-cell-wrap.slds-truncate(title='Cloudhub') Copy of your official admission letter showing the specific ACM program or major.
      td(data-label='Account Name')
        .slds-truncate(title='Cloudhub')
          <button class="slds-button">Button</button>
      td(data-label='Close Date')
        .slds-truncate(title='4/14/2015') Remaining
      td(data-label='Prospecting')
        .slds-truncate(title='Cloudhub')
          button.slds-button.slds-button_outline-brand.slds-truncate
            span.slds-icon_container.slds-icon-utility-upload.slds-m-right_small
            span Upload Document
div.slds-text-align_right.slds-m-top_large.slds-p-horizontal_medium.slds-m-bottom_large
  button.slds-button.slds-button_outline-brand Back
  button.slds-button.slds-button_brand.slds-m-left_large Next
