.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Basis of your application for residency status
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
h6.slds-m-vertical_large Have you previously filed an application for determination of Kentucky residency status?
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Semester of application
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Year of application
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
hr
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') What is your primary reason for living in Kentucky at this time?
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') What family do you have presently living in Kentucky?
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
fieldset.slds-form-element.slds-form-element_stacked
  legend.slds-form-element__legend.slds-form-element__label Have you lived in Kentucky while enrolled in six or fewer college credit hours within a year prior to the term for which you are applying?
  .slds-form-element__control
    span.slds-radio.d-inline-block
      input#radio-15(type='radio', value='radio-15', name='options')
      label.slds-radio__label(for='radio-15')
        span.slds-radio_faux
        span.slds-form-element__label No
    span.slds-radio.d-inline-block
      input#radio-16(type='radio', value='radio-16', name='options')
      label.slds-radio__label(for='radio-16')
        span.slds-radio_faux
        span.slds-form-element__label Yes
hr
h6.slds-m-vertical_large List the places where you have lived for at least the past five years, beginning with the most recent address.
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Address
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') City
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') State
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Start Month
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Start Year
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') End Month
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') End Year
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
hr
button.slds-button.slds-button_outline-brand
    svg.slds-button__icon.slds-button__icon_right(aria-hidden='true')
      use(xlink:href='/assets/icons/utility-sprite/svg/symbols.svg#download')
    span Add another address
div.slds-text-align_right.slds-p-horizontal_medium.slds-m-bottom_large
  button.slds-button.slds-button_outline-brand Back
  button.slds-button.slds-button_brand.slds-m-left_large Save &amp; Next
