.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') First Name
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Last Name
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Last 4 digits of SSN
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
hr
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Email Address
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Email addresses of others you wish to be copied on email communications
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
hr
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Mobile Phone Number
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Home Phone Number
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
hr
.slds-form-element
  label.slds-form-element__label(for='text-input-id-1') Permanent Address
  .slds-form-element__control
    input#text-input-id-1.slds-input(type='text')
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') City
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') State
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Zip code
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') County
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      .slds-form-element__control
        .slds-checkbox
          input#checkbox-46(type='checkbox', name='options', value='checkbox-46', checked='')
          label.slds-checkbox__label(for='checkbox-46')
            span.slds-checkbox_faux
            span.slds-form-element__label Present address is same as permanent address
hr
.slds-form-element
  label.slds-form-element__label(for='text-input-id-1') Permanent Address
  .slds-form-element__control
    input#text-input-id-1.slds-input(type='text')
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') City
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') State
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Zip code
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') County
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
hr
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      .slds-form-element__control
        .slds-checkbox
          input#checkbox-46(type='checkbox', name='options', value='checkbox-46', checked='')
          label.slds-checkbox__label(for='checkbox-46')
            span.slds-checkbox_faux
            span.slds-form-element__label Not an US Citizen?
h6.slds-m-vertical_large If you are not a citizen of the United States, please provide the information below.
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Country of citizenship
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    fieldset.slds-form-element.slds-form-element_stacked
      legend.slds-form-element__legend.slds-form-element__label Are you a political refugee?
      .slds-form-element__control
        span.slds-radio.d-inline-block
          input#radio-15(type='radio', value='radio-15', name='options')
          label.slds-radio__label(for='radio-15')
            span.slds-radio_faux
            span.slds-form-element__label No
        span.slds-radio.d-inline-block
          input#radio-16(type='radio', value='radio-16', name='options')
          label.slds-radio__label(for='radio-16')
            span.slds-radio_faux
            span.slds-form-element__label Yes
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Passport status
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
h6.slds-m-vertical_large If you have a visa, please provide the information below.
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Visa type
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Visa card number
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Date issued month
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Date issued year
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Expiration date
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
hr
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      .slds-form-element__control
        .slds-checkbox
          input#checkbox-46(type='checkbox', name='options', value='checkbox-46', checked='')
          label.slds-checkbox__label(for='checkbox-46')
            span.slds-checkbox_faux
            span.slds-form-element__label Are you now or have been in the military?
h6.slds-m-vertical_large If you are now or have been in the military, please fill out the information below.
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Induction Date Month
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Induction Date Year
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Active service beginning month
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Active service beginning year
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Active service ending month
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Active service ending year
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Discharge Month
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Discharge Year
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') State where inducted
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
.slds-grid.slds-gutters
  .slds-col.slds-size_5-of-7
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Beginning service spent in Ky. month
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Beginning service spent in Ky. Year
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
    .slds-grid.slds-gutters
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Ending service spent in Ky. month
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
      .slds-col.slds-size_1-of-2
        .slds-form-element
          label.slds-form-element__label(for='text-input-id-1') Ending service spent in Ky. Year
          .slds-form-element__control
            input#text-input-id-1.slds-input(type='text')
fieldset.slds-form-element.slds-form-element_stacked
  legend.slds-form-element__legend.slds-form-element__label Did you maintain, or are you maintaining, Kentucky as your legal residence while in the service?
  .slds-form-element__control
    span.slds-radio.d-inline-block
      input#radio-15(type='radio', value='radio-15', name='options')
      label.slds-radio__label(for='radio-15')
        span.slds-radio_faux
        span.slds-form-element__label No
    span.slds-radio.d-inline-block
      input#radio-16(type='radio', value='radio-16', name='options')
      label.slds-radio__label(for='radio-16')
        span.slds-radio_faux
        span.slds-form-element__label Yes
.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') I am currently stationed in
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
div.slds-text-align_right.slds-p-horizontal_medium.slds-m-bottom_large
  button.slds-button.slds-button_outline-brand Back
  button.slds-button.slds-button_brand.slds-m-left_large Save &amp; Next
