h6.slds-m-vertical_large Quote Summary
p Lorem Ipsum Deormit al yesari
<table class="slds-table slds-table_cell-buffer slds-table_bordered">
  <thead>
    <tr class="slds-line-height_reset">
      <th class="" scope="col">
        <div class="slds-truncate" title="Opportunity Name">Licensing Type</div>
      </th>
      <th class="" scope="col">
        <div class="slds-truncate" title="Account Name">Period</div>
      </th>
      <th class="" scope="col">
        <div class="slds-truncate" title="Close Date">Amount</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="slds-hint-parent">
      <th data-label="Opportunity Name" scope="row">
        <div class="slds-truncate" title="Cloudhub">
          <a href="javascript:void(0);" tabindex="-1">Cloudhub</a>
        </div>
      </th>
      <td data-label="Account Name">
        <div class="slds-truncate" title="Cloudhub">Cloudhub</div>
      </td>
      <td data-label="Account Name">
        <div class="slds-truncate" title="Cloudhub">Cloudhub</div>
      </td>
    </tr>
  </tbody>
</table>


div.slds-text-align_right.m-t-22.slds-show_small
  button.slds-button.slds-button_outline-brand Back
  button.slds-button.slds-button_brand.slds-m-left_large Submit

div.m-t-22.slds-hide_small
  button.slds-button.slds-button_brand.w-100.m-t-22 Submit
  button.slds-button.slds-button_outline-brand.w-100.slds-m-left_none.m-t-11 Back