.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Institution
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Major
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Program Name
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Degree Type
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Degree Code
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Projected Start Semester
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Projected Start Year
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Institution City
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
    .slds-form-element
      label.slds-form-element__label(for='text-input-id-1') Institution State
      .slds-form-element__control
        input#text-input-id-1.slds-input(type='text')
div.slds-text-align_right.slds-p-horizontal_medium.slds-m-bottom_large
  button.slds-button.slds-button_outline-brand Back
  button.slds-button.slds-button_brand.slds-m-left_large Save &amp; Next
