.slds-grid.slds-gutters
  .slds-col.slds-size_3-of-5
    p rferfrre
div.slds-text-align_right.slds-p-horizontal_medium.slds-m-bottom_large
  button.slds-button.slds-button_outline-brand Back
  button.slds-button.slds-button_brand.slds-m-left_large Save &amp; Next
