div.slds-m-bottom_x-large
  h6.text-500.slds-m-bottom_small Step 1 - Complete the application
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
div.slds-m-bottom_x-large
  h6.text-500.slds-m-bottom_small Step 2 - Upload your documents
  p.slds-m-bottom_small These are some of the documents we will ask you for, we will let you know along the way if additional documents information is needed.
  ul.list-style-dot
    li Copy of Form 740 Kentucky individual tax return (yours or that of your parent/guardian)
    li Copy of your driver’s license
    li Copy of your official admission letter showing the specific ACM program or major.
    li Copy of your orders showing residence or station in Kentucky.
div.slds-m-bottom_x-large
  h6.text-500.slds-m-bottom_small Step 3 - Sign and submit your application
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
div.slds-text-align_right.slds-p-horizontal_medium.slds-m-bottom_large
  button.slds-button.slds-button_outline-brand Exit
  button.slds-button.slds-button_brand.slds-m-left_large Next

