h6.slds-m-vertical_large Please describe other factors pertinent to your domicile and residency status, if needed.
.slds-form-element.slds-m-bottom_medium
  label.slds-form-element__label(for='text-input-id-1') Comments
  .slds-form-element__control
    textarea#textarea-id-01.slds-textarea(placeholder='Placeholder Text')
h6.slds-m-bottom_medium Please check the below box
.slds-form-element
  .slds-form-element__control
    .slds-checkbox
      input#checkbox-46(type='checkbox', name='options', value='checkbox-46', checked='')
      label.slds-checkbox__label(for='checkbox-46')
        span.slds-checkbox_faux
        span.slds-form-element__label By checking this box, I am signing this application electronically. I agree that my electronic signature is the legal equivalent of my manual signature on this application. I certify that the information provided in this application and all supporting documents are correct and complete to the best of my knowledge. I understand that residency determinations are made in accordance with 13 KAR 2:045 and that the Kentucky Council on Postsecondary Education reserves the right to request any additional information in order to assist in making those determinations. Failure to provide requested information may result in an automatic determination of non-resident status.
p.text-orange.slds-m-top_medium *Once submitted, your application will take two weeks time to process.
div.slds-text-align_right
  button.slds-button.slds-button_outline-brand Exit
  button.slds-button.slds-button_brand.slds-m-left_large Submit
