.auth-wrap.sidebar
  if htmlWebpackPlugin.options.variables === 'ABC'
    img.slds-m-bottom_xx-large(src="/assets/images/ABC/logo.svg", alt="")
    h4.slds-text-color_inverse.slds-m-bottom_medium Already have an account?
    p.slds-text-color_inverse.slds-m-bottom_x-large Use the link below to log in to continue or create a new tution-discount program application.
    .slds-grid.slds-gutters.slds-m-bottom_xx-large
      .slds-col.slds-size_1-of-3
        button.slds-button.slds-button_outline-secondary.slds-button_stretch Log In
  else
    img.slds-m-bottom_xx-large(src="/assets/images/KCPE/logo.png", alt="")
    h4.slds-m-bottom_medium Already have an account?
    p.slds-m-bottom_x-large Use the link below to log in to continue or create a new tution-discount program application.
    .slds-grid.slds-gutters.slds-m-bottom_xx-large
      .slds-col.slds-size_1-of-3
        button.slds-button.slds-button_outline-brand.slds-button_stretch Log In
