div.slds-p-around_medium
  button.slds-button Button
  button.slds-button.slds-button_neutral Neutral Button
div.slds-p-around_medium
  button.slds-button.slds-button_brand Brand Button
  button.slds-button.slds-button_outline-brand Outline Brand Button
div.slds-p-around_medium(style="background-color: #1c49ba;")
  button.slds-button.slds-button_secondary secondary Button
  button.slds-button.slds-button_outline-secondary Outline secondary Button
div.slds-p-around_medium
  button.slds-button.slds-button_destructive Destructive Button
  button.slds-button.slds-button_text-destructive Text Destructive Button
  button.slds-button.slds-button_success Success Button
