div.slds-card
  .slds-grid.slds-gutters
    .slds-col.slds-size_9-of-12
      p.h6.slds-m-bottom_large NQ Retail Malt Beverage Package License (KRS 243.280)
      p
      span.small.slds-m-right_medium Status:
      span.text-brand.text-uppercase.smaller.slds-m-right_xx-large Expired

      span.small.slds-m-right_medium Submitted on:
      span.text-brand.text-uppercase.smaller 04.Jun.2019
    .slds-col.slds-size_3-of-12.actions
      .slds-p-left_large
        button.slds-button.slds-button_secondary.slds-m-bottom_medium.slds-button_stretch Renew
        br
        button.slds-button.slds-button_outline-brand.slds-button_stretch Details
