div.slds-card.has-label
  .slds-card__label.is-submitted.d-flex.align-center
    p.text-small Submitted
  .slds-grid.slds-gutters
    .slds-col.slds-size_9-of-12
      p.h6.slds-m-bottom_large Application Sample Name
      p
      span.slds-m-right_medium Date Submitted
      span.text-color-dark.text-bold.slds-m-right_xx-large 08/23/2019

      span.slds-m-right_medium Application ID
      span.text-color-dark.text-bold abcdef
    .slds-col.slds-size_3-of-12.actions.d-flex.align-center
      .slds-p-left_large.w-100
        button.slds-button.slds-button_outline-brand.slds-button_stretch View
