div.slds-card.is-small
  .slds-grid.slds-gutters
    .slds-col.slds-size_9-of-12
      p.slds-m-bottom_x-small.text-500 Recertify your already submitted application now!
      small Already submitted an application? But changed major or institution? Recertify it now!
    .slds-col.slds-size_3-of-12.actions.d-flex.align-center
      .slds-p-left_large.w-100
        button.slds-button.slds-button_brand.slds-button_stretch Recertify
