div.slds-card.has-label
  .slds-card__label.is-denied.d-flex.align-center
    p.text-small
  .slds-grid.slds-gutters
    .slds-col.slds-size_9-of-12
      p.h6.slds-m-bottom_large Limited Restaurant License LR100 or LR250 (KRS 241.010, KRS 242.1244, KRS 243.034)
      p
      span.slds-m-right_medium Status
      span.text-brand.text-bold.slds-m-right_xx-large.text-uppercase Payment failed
    .slds-col.slds-size_3-of-12.actions
      .slds-p-left_large
        button.slds-button.slds-button_brand.slds-m-bottom_medium.slds-button_stretch Update
        br
        button.slds-button.slds-button_outline-brand.slds-button_stretch Details
