div.slds-card.is-small.is-low-priority
  .slds-grid.slds-gutters
    .slds-col.slds-size_9-of-12
      p.slds-m-bottom_x-small.text-500 Can’t find the program you are looking for?
      small If you want to register for a program that is not listed in our program, then you can submit a request for a new program.
    .slds-col.slds-size_3-of-12.actions.d-flex.align-center
      .slds-p-left_large.w-100
        button.slds-button.small.text-color.has-underline Submit New Program for Review
