div.slds-card.is-actionable
  .slds-card__content
    p.h6.slds-m-bottom_medium.text-brand Application Sample Name
    p.slds-m-bottom_medium Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  button.slds-button.slds-button_outline-brand.slds-button_stretch CTA text
