div.slds-card.is-actionable
  .slds-card__content
    p.h6.slds-m-bottom_medium.text-brand Application Sample Name Application
    p.slds-m-bottom_medium Lorem ipsum dolor sit amet
  button.slds-button.slds-button_outline-brand.slds-button_stretch CTA text
