link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300")
// load font awesome
<script src="https://kit.fontawesome.com/8670bfff7e.js"></script>
//- script(async src="/assets/js/all.js")

if htmlWebpackPlugin.options.variables === 'ABC'
  div.slds-text-align_center.small.footer.slds-p-horizontal_large
    ul.footer__list
      li
        a(href="#") &copy; 2019 Kentucky ABC
      li
        a.text-brand(href="#") Terms of Use Agreement
      li
        a.text-brand(href="#") Privacy Policy
else
  div.slds-text-align_center.small.footer.slds-p-horizontal_large
    .slds-text-align_left.d-inline-block.margin-auto
      .d-flex.justify-between
        .d-inline-block.slds-m-right_medium.slds-p-around_xxx-small
          img(src="assets/images/foot.svg", alt="")
        .d-inline-block
          p.text-bold Have a question or need help?
          p View the &nbsp;
            a(href="https://cpe.custhelp.com/") CPE FAQ and Contact Form
    hr
    p 1024 Capital Center Drive, Frankfurt, KY 40601

    ul.footer__list
      li
        a(href="http://cpe.ky.gov/contact.html") Contact Us
      li
        a(href="http://cpe.ky.gov/contactwebmaster.html") Report Technical Problems
      li
        a(href="http://cpe.ky.gov/findus.html") Driving Directions
    p (502) 573-1555
    ul.footer__list
      li
        a(href="https://kentucky.gov/policies/Pages/default.aspx") Security
      li
        a(href="https://kentucky.gov/policies/Pages/security.aspx") Policy
      li
        a(href="https://kentucky.gov/policies/Pages/disclaimer.aspx") Disclaimer
      li
        a(href="https://kentucky.gov/policies/Pages/accessibility.aspx") Accessibility
      li
        a(href="https://cpe.custhelp.com/") FAQ
    img.slds-m-top_x-large.slds-text-align_center(src="assets/images/kentucky-logo.svg", alt="")
    p &copy; 2019 Commonwealth of Kentucky. All rights reserved.
