if htmlWebpackPlugin.options.variables === 'ABC'
  div.slds-text-align_center
    h4.slds-m-bottom_medium.text-brand Forgot Password
    p.slds-m-bottom_large No worries. We'll send you a link to reset it.
else
  div
    h4.slds-m-bottom_medium Forgot Password
    p.slds-m-bottom_large No worries. We'll send you a link to reset it.
.slds-card
  .slds-grid.slds-gutters.slds-p-bottom_medium
    .slds-col.slds-size_1-of-1
      .slds-form-element
        label.slds-form-element__label(for='text-input-id-1') Email Address
        .slds-form-element__control
          input#text-input-id-1.slds-input(type='text')
  button.slds-button.slds-button_brand.slds-button_stretch.slds-m-top_medium SUBMIT
  p.slds-m-top_large.slds-hide_large.login-text Already have an account? <a>Click here</a> to log in to continue or create a new tution-discount program application

.slds-card
  .slds-grid.slds-gutters
    .slds-col.slds-size_1-of-1
        .slds-grid.streched-15
            .slds-col.m-t-11.slds-small-size_4-of-12.slds-medium-size_3-of-12.slds-large-size_3-of-12
                .greenbox
                    span.slds-icon_container.slds-icon-utility-like
                        svg.slds-icon.slds-icon-text-default(aria-hidden='true')
                        use(xlink:href='/assets/icons/symbols.svg#like')
            .slds-col.m-t-11.slds-small-size_8-of-12.slds-medium-size_9-of-12.slds-large-size_9-of-12
                h5.text-brand Check you email inbox.
                span You'll find a link to reset your password
        .skybox.m-t-22
            p
                strong Don't see the email?
            p No worries. Search your spam folder for items from noreply@ky.gov, or
            a Re-send the verification email

