doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Kentucky Style Guide
    link(rel="stylesheet" href="/assets/css/slds.css")
    link(rel="stylesheet" href="/assets/css/app.css")
    //- link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap', rel='stylesheet')
