.slds-context-bar
  .d-flex.justify-space-between.container
    .slds-context-bar__primary
      .slds-context-bar__item.slds-context-bar__dropdown-trigger.slds-dropdown-trigger.slds-dropdown-trigger_click.slds-no-hover
        span.slds-context-bar__label-action.slds-context-bar__app-name
          img(src='/assets/images/' + htmlWebpackPlugin.options.variables + '/logo.png', alt='Logo')
    nav.slds-context-bar__secondary(role='navigation')
      ul.slds-grid
        li.slds-context-bar__item
          a.slds-context-bar__label-action(href='javascript:void(0);', title='Dashboard')
            span.slds-assistive-text Current Page:
            span.slds-truncate(title='Home') Dashboard
        li.slds-context-bar__item
          a.slds-context-bar__label-action(href='javascript:void(0);', title='View Application')
            span.slds-truncate(title='Menu Item') Lorna Sharper
        li.slds-context-bar__item
          .slds-dropdown-trigger.slds-dropdown-trigger_click.slds-button_last
            button.slds-button.slds-button_icon.slds-button_icon-border-filled(aria-haspopup='true', title='Show More')
              span.slds-icon-utility-down
              span.slds-assistive-text Show More
