if htmlWebpackPlugin.options.variables === 'ABC'
  div.slds-text-align_center
    h4.slds-m-bottom_medium.text-brand Create Account
    p.slds-m-bottom_large Create an account to apply for tuition-discount programs.
else
  div
    h4.slds-m-bottom_medium Create account
    p.slds-m-bottom_large Create an account to apply for tuition-discount
.slds-card
  .slds-grid.slds-gutters.slds-p-bottom_medium
    .slds-col.slds-size_1-of-2
      .slds-form-element
        label.slds-form-element__label(for='text-input-id-1') First Name
        .slds-form-element__control
          input#text-input-id-1.slds-input(type='text')
    .slds-col.slds-size_1-of-2
      .slds-form-element
        label.slds-form-element__label(for='text-input-id-1') Last Name
        .slds-form-element__control
          input#text-input-id-1.slds-input(type='text')
  .slds-form-element.slds-p-bottom_medium.slds-has-error
    label.slds-form-element__label(for='text-input-id-1') Email
    .slds-form-element__control
      input#text-input-id-1.slds-input(type='text')
    .slds-form-element__help This field is required
  .slds-form-element.slds-p-bottom_medium
    label.slds-form-element__label(for='text-input-id-1') Password
    .slds-form-element__control
      input#text-input-id-1.slds-input(type='text')
  .slds-form-element.slds-p-bottom_medium
    label.slds-form-element__label(for='text-input-id-1') Confirm Password
    .slds-form-element__control
      input#text-input-id-1.slds-input(type='text')
  .slds-form-element
    .slds-form-element__control
      .slds-checkbox
        input#checkbox-44(type='checkbox', name='options', value='checkbox-44', checked='')
        label.slds-checkbox__label(for='checkbox-44')
          span.slds-checkbox_faux
          span.slds-form-element__label I acknowledge that I have read and accept the Terms of Use Agreement and consent to the Privacy Policy.
  button.slds-button.slds-button_brand.slds-button_stretch.slds-m-top_medium Register
  p.slds-m-top_large.slds-hide_large.login-text Already have an account? <a>Click here</a> to log in to continue or create a new tution-discount program application
