-
  var isABC = htmlWebpackPlugin.options.variables == 'ABC'
<div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium bg-white">
  <div class="container">
    <div class=" d-flex justify-space-between slds-grid slds-gutters slds-p-horizontal_large">
    if isABC
      <div class="d-flex justify-space-between">
        <h5>New Application</h5>
          <div class="help-link hidden slds-show_small">
            <i class="fas fa-info-circle pr10"></i><a>Help/Instructions</a>
          </div>
        </div>
    else
      <h5>Welcome to the CPE Portal!</h5>
    <button class="slds-button slds-button_outline-brand">Save & Exit</button>
    </div>
  </div>
</div>
