.slds-tabs_default.container
  ul.slds-tabs_default__nav(role='tablist')
    li.slds-tabs_default__item.slds-is-active(title='Item One', role='presentation')
      a#tab-default-1__item.slds-tabs_default__link(href='javascript:void(0);', role='tab', tabindex='0', aria-selected='true', aria-controls='tab-default-1') Item One
    li.slds-tabs_default__item(title='Item Two', role='presentation')
      a#tab-default-2__item.slds-tabs_default__link(href='javascript:void(0);', role='tab', tabindex='-1', aria-selected='false', aria-controls='tab-default-2') Item Two
    li.slds-tabs_default__item(title='Item Three', role='presentation')
      a#tab-default-3__item.slds-tabs_default__link(href='javascript:void(0);', role='tab', tabindex='-1', aria-selected='false', aria-controls='tab-default-3') Item Three
  #tab-default-1.slds-tabs_default__content.slds-show(role='tabpanel', aria-labelledby='tab-default-1__item') Item One Content
  #tab-default-2.slds-tabs_default__content.slds-hide(role='tabpanel', aria-labelledby='tab-default-2__item') Item Two Content
  #tab-default-3.slds-tabs_default__content.slds-hide(role='tabpanel', aria-labelledby='tab-default-3__item') Item Three Content
