mixin get_timeline(listType)
  -
    var isABC = htmlWebpackPlugin.options.variables == 'ABC'
    var listObject = {
                        tempLicense: [{name:'Event Details',completed:true},{name:'Event Type',completed:true},{name:'Payment',completed:true},{name:'Submission',completed:false}],
                        addLicenseList:[{name:'Personal Details',completed:true},{name:'Business Details',completed:true},{name:'Select License(s)',completed:true},{name:'CPQ',completed:false, active: true},{name:'Affidavit',completed:false},{name:'Documents',completed:false},{name:'Payment',completed:false},{name:'Submission & Status',completed:false}],
                        changeLicense:[{name:'Personal Details',completed:true},{name:'Business Details',completed:true},{name:'CPQ',completed:false, active: true},{name:'Quote Summary',completed:false},{name:'Payment',completed:false},{name:'Submission',completed:false}],
                        changePremises: [{name:'Personal Details',completed:true},{name:'Business Details',completed:true},{name:'Confirmation',completed:false, active: true},{name:'Documents',completed:false},{name:'Payment',completed:false},{name:'Submission',completed:false}],
                        addtionalLicense:[{name:'Quote Summary',completed:true},{name:'Payment',completed:false},{name:'Submission',completed:false}]
                      }
    var list = listObject[listType]
  if isABC
    ol.timeline
      each item in list
        li.event(class=item.completed ? "completed" : "", class=item.active?"active":"")= item.name
  else
    ol.timeline
      li.event.completed Instructions
      li.event.completed Contact Information
      li.event.completed Program and Enrollment
      li.event.active Prior Education
      li.event Residency Status
      li.event Dependent/Independent Status
      li.event Armed Forces Status
      li.event Voter Status
      li.event Driver’s License Status
      li.event Employment Status
      li.event Upload documents
      li.event Sign and Submit
