p Note: You can you h1, h2 tags in place of .h1, .h2 classes as well,<br/> and you can mix and match them too, the class will have priority over tag,<br/> so if you use &lt;h1 class"h2"&gt;hello&lt;/h1&gt; it will be styled as h2.
br
h1.h1 h1(60px): class="h1"
h2.h2 h2(50px): class="h2"
h3.h3 h3(40px): class="h3"
h4.h4 h4(35px): class="h4"
h5.h5 h5(28px): class="h5"
h6.h6 h6(24px): class="h6"
br
h1.h1.text-bold h1(60px bold): class="h1 text-bold"
h2.h2.text-bold h2(50px bold): class="h2 text-bold"
h3.h3.text-bold h3(40px bold): class="h3 text-bold"
h4.h4.text-bold h4(35px bold): class="h4 text-bold"
h5.h5.text-bold h5(28px bold): class="h5 text-bold"
h6.h6.text-bold h6(24px bold): class="h6 text-bold"
br
p p(16px): Kentucky Components
p.text-bold p(16px medium bold): Kentucky Components
p.text-500 p(16px bold): Kentucky Components
br
p.caption Caption(12px)
p.caption.text-bold Caption(12px bold)
br
p.small small by class(14px)
small small by tag(14px)
p.text-small small by modifier class system(14px)
p.text-small.text-bold small and bold by modifier class system(14px)
