
extends ../templates/_default
block content
  include ../templates/partials/_timeline
  .container
    .slds-grid.slds-gutters.slds-m-top_large
      .slds-col.slds-size_2-of-6
        +get_timeline('changePremises')
      .slds-col.slds-size_4-of-6
        .slds-card.has-header
            .slds-card__body
              include ../templates/partials/_abc_change_license_type_card_1
        .slds-card.has-header
            .slds-card__body
              include ../templates/partials/_abc_change_license_type_card_2
        .slds-card.has-header
            .slds-card__body
              include ../templates/partials/_abc_change_license_type_card_3
        .slds-card.has-header
            .slds-card__body
              include ../templates/partials/_abc_change_premises_locaion_card_4
        
        .slds-card.has-header
            .slds-card__body
              include ../templates/partials/_abc_application_screen_06

        .slds-card.has-header
            .slds-card__body
              include ../templates/partials/_abc_change_premises_locaion_card_5
        

        div.slds-text-align_right.slds-m-top_large
          button.slds-button.slds-button_outline-brand Back
          button.slds-button.slds-button_brand.slds-m-left_large.slds-p-horizontal_xx-large Submit