
extends ../templates/_abc
block content
    include ../helpers/_mixins
    <div class="slds-tabs_default">
      <ul class="slds-tabs_default__nav slds-p-left_xx-large" role="tablist">
          <li class="slds-tabs_default__item slds-is-active" title="Item One" role="presentation">
            <a class="slds-tabs_default__link" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-default-1" id="tab-default-1__item">License details</a>
          </li>
          <li class="slds-tabs_default__item " title="Item Two" role="presentation">
            <a class="slds-tabs_default__link" role="tab" tabindex="-1" aria-selected="true" aria-controls="tab-default-2" id="tab-default-2__item">License options</a>
          </li>
          <li class="slds-tabs_default__item" title="Item Three" role="presentation">
            <a class="slds-tabs_default__link" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Add-on license(s)</a>
          </li>
      </ul>
      <div id="tab-default-1" class="slds-tabs_default__content background-grey slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
        .slds-card.slds-m-horizontal_xx-large.has-header
          .slds-card__body
            include ../templates/partials/_abc_license_details_screen_card_1.pug
        .slds-card.slds-m-horizontal_xx-large.has-header
          .slds-card__body
            include ../templates/partials/_abc_license_details_screen_card_2.pug
      </div>
      <div id="tab-default-2" class="slds-tabs_default__content background-grey slds-show" role="tabpanel" aria-labelledby="tab-default-2__item">
        block content
          div.slds-m-horizontal_x-large
            .slds-grid.slds-wrap.slds-m-top_medium
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Change license type', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Change premises location', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Update/Expand Premises', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
            .slds-grid.slds-wrap.slds-p-vertical_xx-large
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Apply for Dormancy', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Surrender License', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
      </div>
      <div id="tab-default-3" class="slds-tabs_default__content background-grey slds-show" role="tabpanel" aria-labelledby="tab-default-3__item">
        block content
          div.container
            div.slds-card.is-actionable
              .slds-card__content
                p.slds-p-bottom_small.text-bold.text-brand.text-uppercase Add-on License
                <p class="text-brand slds-m-bottom_x-small smaller">Active add-on license</p>
                <div style="overflow-x:auto;">
                  <table class="slds-table slds-m-bottom_large">
                      <thead class="">
                          <th class="slds-p-around_medium">ADDITIONAL LICENSE NAME</th>
                          <th class="slds-p-around_medium">APPROVAL DATE </th>
                          <th class="slds-p-around_medium">LICENSE FEE</th>
                      </thead>
                      <tr class="">
                          <td class="slds-p-around_medium">Supplemental Bar License</td>
                          <td class="slds-p-around_medium">03 July, 2019</td>
                          <td class="slds-p-around_medium">$100</td>
                      </tr>
                  </table>
                </div>
                <p class="text-brand slds-m-bottom_x-small smaller">Available add-on license(s)</p>
                <div style="overflow-x:auto;">
                  <table class="slds-table slds-m-bottom_large">
                      <thead class="">
                          <th class="slds-p-around_medium">ADDITIONAL LICENSE NAME</th>
                          <th class="slds-p-around_medium">PERIOD </th>
                          <th class="slds-p-around_medium">LICENSE FEE</th>
                          <th></th>
                      </thead>
                      <tr class="">
                          <td class="slds-p-around_medium">Sunday Retail License</td>
                          <td class="slds-p-around_medium">6 Month</td>
                          <td class="slds-p-around_medium">$100</td>
                          <td class="slds-p-around_medium">
                            <button class="slds-button slds-button_outline-brand slds-p-horizontal_large">+ Add
                            </button>
                          </td>
                      </tr>
                  </table>
                </div>

      </div>
    </div>

