@import "../../../../node_modules/@salesforce-ux/design-system/design-tokens/dist/global-base.default.scss";
@import "../../../../node_modules/@salesforce-ux/design-system/design-tokens/dist/ui-force.default.scss";
@import "../../../../node_modules/@salesforce-ux/design-system/scss/components/buttons/mixins/index";
button,
.slds-button {
    border-radius: 0 !important;
}

.slds-button_brand {
    border-color: $color-brand;
    background-color: $color-brand;
    background-image: linear-gradient(to bottom, $color-brand, $color-brand-alt);
}

.slds-button_outline-brand {
    border-color: $color-brand;
    color: $color-brand;
    &:hover,
    &:focus {
        border-color: $color-brand;
        background-color: $color-brand;
        background-image: linear-gradient(to bottom, $color-brand, $color-brand-alt);
        color: $color-text-brand-primary;
    }
}

.slds-button_secondary,
.slds-button--secondary {
    @include button;
    @include button-brand;
    border-color: $color-secondary-button-border;
    background-color: $color-secondary;
    background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-alt);
    color: $color-secondary-button-text;
    &:link,
    &:visited,
    &:active {
        color: $color-secondary-button-text;
    }
    &:hover,
    &:focus {
        border-color: $color-secondary-button-border;
        background-color: $color-secondary;
        background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-alt);
        color: $color-secondary-button-text;
    }
    &:active {
        border-color: $color-secondary-button-border;
        background-color: $color-secondary;
        background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-alt);
    }
    &[disabled],
    &:disabled {
        background: $brand-disabled;
        border-color: $brand-disabled;
        color: $color-text-button-brand-disabled;
    }
}

.slds-button_outline-secondary {
    @include button;
    @include button-base;
    background-color: transparent;
    border-color: $color-secondary-alt-2;
    color: $color-secondary-alt-2;
    &:hover,
    &:focus {
        border-color: $color-secondary-button-border;
        background-color: $color-secondary;
        background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-alt);
        color: $color-secondary-button-text;
    }
    &[disabled],
    &:disabled {
        border-color: $color-border;
        color: $color-text-button-default-disabled;
        background-color: $color-background-button-default-disabled;
    }
}

.slds-radio_add-button {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    label {
        cursor: pointer;
    }
    .img-white {
        display: none;
    }
    .cap-content {
        width: 100%;
        overflow: hidden;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        .text {
            padding-left: 10px;
            text-align: left;
            display: flex;
            align-items: center;
            font-size: 15px;
            z-index: 1;
        }
        .img,
        .img-white {
            z-index: 1;
        }
    }
    .slds-radio_add-button-cap {
        display: block;
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid #dee4f8;
        transition: background-color 0.2s;
    }
    input[type="radio"]:checked~.cap-content {
        .img-white {
            display: block;
        }
        .img {
            display: none;
        }
    }
    input[type="radio"]:checked~.slds-radio_add-button-cap {
        background: #0e3cc8;
        border: 1px solid #0e3cc8;
    }
    input[type="radio"]:checked~.cap-content .text {
        color: white;
    }
}