.has-pointers {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.slds-card {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05)!important;
    background-color: #ffffff!important;
    padding: 24px 30px!important;
    border-radius: 0!important;
    border-width: 0!important;
    &.is-small {
        padding: 12px 20px!important;
    }
    &.is-large {
        padding: 50px!important;
    }
    &.is-actionable {
        cursor: pointer;
        &:hover {
            box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1)!important;
        }
    }
    &.is-low-priority {
        background-color: rgba(100, 100, 100, 0.1)!important;
        box-shadow: none!important;
    }
    .has-pointers & {
        box-shadow: none!important;
    }
    .actions {
        border-left: 1px solid rgba(157, 157, 157, 0.3);
    }
    &.has-label {
        padding-left: 60px!important;
        position: relative;
    }
    &.has-header {
        padding: 0!important;
    }
    &__content {
        min-height: 176px;
    }
    &__header,
    &__body {
        padding: 30px;
    }
    hr {
        margin: 1rem 0;
    }
    &__header {
        background-color: rgba(100, 100, 100, 0.05);
        margin-bottom: 24px;
    }
    &__pointers li::before {
        content: "";
        background-color: $color-red;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1rem;
    }
    &__label {
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 100%;
        padding: 5px;
        p {
            transform: rotate(-90deg) translate(-50%, 50%);
            white-space: nowrap;
            transform-origin: left center;
        }
        &.is-success,
        &.in-review,
        &.in-progress,
        &.is-submitted,
        &.is-approved,
        &.is-expired,
        &.is-denied,
        &.is-withdrawn {
            color: $color-white;
        }
        &.is-success {
            background-color: $color-green;
        }
        &.in-review {
            background-color: $color-orange;
        }
        &.in-progress {
            background-color: $color-blue;
        }
        &.is-submitted {
            background-color: $color-brand;
        }
        &.is-approved {
            background-color: $color-brand;
        }
        &.is-expired {
            background-color: $color-secondary;
        }
        &.is-denied,
        &.is-withdrawn {
            background-color: $color-red;
        }
    }
}

.greenbox {
    border: 1px solid #3ab549;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-border {
    border: 1px solid red;
}
.skybox {
    width: 100%;
    background: #e7f2ff;
    min-height: 100px;
    left: 0;
    position: relative;
    padding: 20px;
}