.footer {
  & > *:not(hr) {
    margin-top: 0.5rem;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    li {
      display: inline-block;
      margin-left: 0.8rem;
      a:not(.text-brand) {
        &, &:link, &:visited, &:hover, &:active {
          color: #646464;
          text-decoration: none;
        }
      }
      &::before {
        content: '|';
        display: inline-block;
        margin-right: 0.8rem;
      }
      &:first-of-type{
        &::before{
          display: none;
        }
      }
    }
  }
}
