@if $variables=='ABC' {
    .slds-input,
    .slds-select {
        border-radius: 0rem!important;
    }
}

.slds-form-element__label,
.slds-checkbox .slds-form-element__label,
.slds-radio .slds-form-element__label {
  font-size: 1rem;
}
