.payment-option {
    border: 1px solid #0a38c4;
    padding-top: 15px;
    padding-bottom: 10px;
    cursor: pointer;

    &.bank-payment {
        background-image: url(/assets/images/banks_strip.png);
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: right center;
    }
}
.more-options {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-top: 0;
    padding: 20px 12px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .payment-option {
        &.bank-payment {
            background-image: none !important;
           
        }
    }
}
  
  @media (min-width: 320px) and (max-width: 480px) {
    .payment-option {
        &.bank-payment {
            background-image: none !important;
        }
    }
  }