.slds-modal__header,
.slds-modal__footer {
    border-radius: 0;
}

.slds-modal__footer {
    background-color: #fff;
    border-width: 0;
}

.small-card-width {
    width: 27.5rem;
    margin: 0 auto;
}