$height: 3.75rem;

@if $variables=='ABC' {
  $height: 5rem;
}

.slds-context-bar {
  background-color: $color-navbar-bg;
  color: $color-navbar-text;
  height: $height;
  border-width: 0;
  box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.05);
  padding: 0;
  &__item {
    background-color: transparent!important;
    &:hover{
      background-color: transparent!important;
    }
  }
  .slds-button_icon-border-filled {
    border-width: 0;
  }
}

.slds-context-bar__secondary {
    flex: unset;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.slds-context-bar__item:last-of-type{
  padding: 1rem 0;
}

.slds-dropdown-trigger {
  & .slds-button--icon-border-filled,
  & .slds-button_icon-border-filled {
    background-color: transparent;
  }
}
