.slds-tabs_default__nav {
    width: 100%;
    background: white;
    border-bottom: 0;
    .slds-tabs_default__item {
        a {
            text-decoration: none;
        }
        &.slds-is-active {
            color: #0730bc;
        }
        &:after {
            background-color: #0730bc;
        }
    }
}