@if $variables !='ABC' {
    .slds-table {
        font-size: 1rem !important;
        border: solid 1px rgba(100, 100, 100, 0.1);
        thead {
            border-width: 0;
            tr {
                border-width: 0;
                padding: 0 30px;
                th {
                    background-color: rgba(100, 100, 100, 0.05);
                    padding: 24px .5rem;
                    font-size: 0.875rem;
                    .slds-truncate {
                        font-weight: 900;
                        color: $color-grey-dark;
                    }
                }
            }
        }
        tbody tr td {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}

@else {
    .slds-table {
        background: rgb(255, 255, 255);
        border-radius: 0px;
        border: 1px solid rgb(211, 219, 245);
        thead {
            border-width: 0;
            tr {
                border: 1px solid rgb(211, 219, 245);
                padding: 1rem!important;
                th {
                    font-size: 0.75rem;
                    background: rgba(13, 60, 200, 0.05);
                    padding: .5rem!important;
                }
            }
        }
        tbody tr {
            border: 1px solid rgb(211, 219, 245);
        }
        td {
            padding: .5rem!important;
        }
    }
}