/* Variables */

$background: #000;
$color-primary: #dfe4f2;
$color-light: #000;
$color-dim: #000;
$spacing: 25px;
$radius: 4px;
$date: 120px;
$dotborder: 4px;
$dot: 35px;
$line: 2px;
$white: white;
$left-value: -43px;
$li-background-color: #cdcfd0;
$timeline-completed-color: #128ec3;

/** Checks for ABC and KCPE */

$isABC: $variables=='ABC';
@if $isABC {
    $timeline-completed-color: #1c48cb;
    $li-background-color: #dfe4f2;
    $background: $color-brand;
}


/* Timeline */

.timeline {
    border-left: $line solid $color-primary;
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    background: fade($color-light, 3%);
    color: fade(white, 80%);
    margin-left: $spacing*0.5;
    letter-spacing: 0.5px;
    position: relative;
    position: sticky;
    top: 2rem;
    line-height: 1.4em;
    font-size: 14px;
    padding: 0 $spacing;
    list-style: none;
    text-align: left;
    counter-reset: li-counter;
    .event {
        padding-bottom: ($spacing * 0.7);
        position: relative;
        padding-top: ($spacing*0.7);
        counter-increment: li-counter;
        &:after {
            border: 5px solid white;
            position: absolute;
            display: block;
            top: 0;
            box-shadow: 0 0 0 $dotborder fade($color-primary, 100%);
            // left: ($spacing + $line + ($dot * 0.35) + 2) * -1;
            left: $left-value;
            background: $li-background-color;
            border-radius: 50%;
            height: $dot;
            width: $dot;
            content: "";
            top: 5px;
            color: black;
            top: 10px;
            text-align: center;
            content: counter(li-counter);
            color: #444444;
            padding-top: 4px;
        }
        &.completed {
            color: $timeline-completed-color;
            &:after {
                background: #128ec3;
                @if $isABC {
                    background: lighten($background, 5%);
                }
                padding-top: 4px;
                color: $white;
                content: '✓';
                text-align: center;
            }
        }
        &.active {
            color: #00273e;
            @if $isABC {
                color: #000;
            }
            font-weight: bold;
            &:after {
                background-color: #000;
                color: white;
                @if $isABC {
                    background-color: #479eeb;
                }
            }
        }
        &:first-of-type {
            padding-top: ($spacing*0.3);
            &:after {
                top: -2px;
            }
        }
        &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border: none;
            &:after {
                top: 10px;
                bottom: 0;
            }
        }
    }
}
