$primary-color: #1d49cc;

/** Media query */

@media only screen and (max-width: 1024px) {
    .download-button-padding {
        padding-bottom: 1rem!important;
        padding-left: 2rem!important;
    }
    .select-padding {
        padding-top: .5rem;
    }
}

.decimal-list {
    list-style: decimal!important;
}

.bullet-list {
    list-style: unset;
}

body {
    color: $color-grey;
}

@if $variables=='ABC' {
    body {
        background-color: #f7f7f7;
        color: $color-grey;
    }
}

.background-grey {
    background: #ececec;
}

.business-screen-modal {
    width: 75rem !important;
    max-width: 100%!important;
}

.license-card {
    height: 14rem;
}

.affidavit {
    max-height: 16rem;
}

.radio-button-width {
    width: 6rem;
}

.border {
    padding: 4px;
    border: 1px solid #d3dbf5!important;
    .slds-card {
        border-width: 4px!important;
    }
}

.help-link {
    font-size: 14px;
    color: $primary-color;
    padding-top: 2%;
    margin-left: 50px
}

.pr10 {
    padding-right: 10px
}

.m-l-4 {
    margin-left: 4%
}

.m-t-22 {
    margin-top: 22px;
}

.m-t-11 {
    margin-top: 11px;
}

.f-left {
    float: left;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block !important;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.d-inline-block {
    display: inline-block !important;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.background-grey {
    background-color: rgba(100, 100, 100, 0.1);
}

.has-shadow {
    box-shadow: 4px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

.outline {
    outline: thin #d9dfe2 solid;
}

.list-style-dot {
    list-style-type: disc;
    margin-left: 1rem;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-orange {
    color: $color-orange;
}

.text-uppercase {
    text-transform: uppercase;
}

.slds-button+.slds-button {
    margin-left: 1.25rem;
}

.bg-white {
    background-color: $color-white;
}

.align-flex-end {
    align-items: flex-end;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    margin: 1.5rem 0 !important;
    &:before {
        content: '';
        // use the linear-gradient for the fading effect
        // use a solid background color for a solid bar
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background: #dddbda;
    }
    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        padding: 0 .5em;
        line-height: 1.5em;
        color: #1d49cc;
        background-color: #fcfcfa;
        font-weight: 800;
        font-size: 14px;
        margin-top: 3px;
    }
}

.streched {
    margin: 0 -20px;
}

.streched-15 {
    margin: 0 -15px;
}


/* overrides */

.slds-col_padded,
.slds-col--padded {
    padding: 0!important;
}

.trigger-link {
    .profileIcon {
        display: inline-block;
    }
}


/* overrides */