<div class="slds-form-element">
    <label class="slds-form-element__label" for="text-input-id-1"> labelName<abbr class="slds-required" title="required">* </abbr></label>
    <div class="slds-form-element__control">
        <input type="text" id="text-input-id-1" placeholder="Placeholder Text" required="" class="slds-input" />
    </div>
</div>