// Mixin for normal form fields eg input, select, checkbox

mixin card-header(label,description = '')
    h6.text-brand.slds-p-bottom_small.text-uppercase #{label}
    if description != ''
        p.slds-p-bottom_small #{description}
mixin form-field(label, fieldType, required = true, placeholder = false)
    if fieldType == 'textarea'
        <div class="slds-form-element">
            <label class="slds-form-element__label" > #{label}
            if required
                <abbr class="slds-required" title="required">* </abbr>
            </label>
            <div class="slds-form-element__control">
                <textarea rows="4" required="" class="slds-input"></textarea>
            </div>
        </div>
    if fieldType == 'input'
        <div class="slds-form-element select-padding">
            if placeholder
                input(placeholder=label, class="slds-input")
            else
                <label class="slds-form-element__label" > #{label}
                if required
                    <abbr class="slds-required" title="required">* </abbr>
                </label>
                <div class="slds-form-element__control">
                    <input type="text" required="" class="slds-input"/>
                </div>
        </div>
    if fieldType == 'checkbox'
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-checkbox">
                    <input type="checkbox" name="options" value="checkbox-2" checked="" />
                    <label class="slds-checkbox__label">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-form-element__label">#{label}</span>
                    </label>
                </div>
            </div>
        </div>
    if fieldType == 'select'
        <div class="slds-form-element select-padding">
            if label != ''
                <label class="slds-form-element__label" for="select-01">#{label}</label>
            <div class="slds-form-element__control">
                <div class="slds-select_container">
                <select class="slds-select" id="select-01">
                    <option value="">-Choose one-</option>
                    <option>Option One</option>
                    <option>Option Two</option>
                    <option>Option Three</option>
                </select>
                </div>
            </div>
        </div>

// Mixin for radio button group

mixin radio-button(label, options = [], horizontal = true)
    if label != ''
        p.slds-p-bottom_medium #{label}
    if horizontal
        <div class="slds-form-element__control slds-m-bottom_x-large">
            <div class="d-flex justify-between f-left">
                each item in options
                    <span class="slds-radio">
                        <input type="radio" />
                        <label class="slds-radio__label text-500">
                            <span class="slds-radio_faux"></span>
                            <span class="slds-form-element__label">#{item}</span>
                        </label>
                    </span>
            </div>
        </div>

    else
        <div class="slds-form-element__control">
            each item in options
                <span class="slds-radio">
                    <input type="radio" />
                    <label class="slds-radio__label text-500">
                        <span class="slds-radio_faux"></span>
                        <span class="slds-form-element__label">#{item}</span>
                    </label>
                </span>
        </div>

mixin screen-header(label)
    h6.text-brand.slds-p-bottom_small.text-uppercase.text-bold #{label}

mixin license-screen-card(heading,description, button_label)
    div.slds-card.is-actionable.license-card.margin-auto
        .slds-card__content
            p.h6.slds-m-bottom_medium.text-brand #{heading}
            p.slds-m-bottom_small #{description}
            button.slds-button.slds-button_outline-brand.slds-button_stretch #{button_label}

mixin disabled-input(label, fieldType, required = true, placeholder = false)
    if fieldType == 'input'
        <div class="slds-form-element select-padding">
            if placeholder
                input(placeholder=label, class="slds-input")
            else
                <label class="slds-form-element__label" > #{label}
                if required
                    <abbr class="slds-required" title="required">* </abbr>
                </label>
                <div class="slds-form-element__control">
                    <input type="text" required="" class="slds-input" disabled=""/>
                </div>
        </div>
    if fieldType == 'checkbox'
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-checkbox">
                    <input type="checkbox" name="options" value="checkbox-2" checked=""  disabled=""/>
                    <label class="slds-checkbox__label">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-form-element__label">#{label}</span>
                    </label>
                </div>
            </div>
        </div>
    if fieldType == 'select'
        <div class="slds-form-element select-padding">
            if label != ''
                <label class="slds-form-element__label" for="select-01">#{label}</label>
            <div class="slds-form-element__control">
                <div class="slds-select_container">
                <select class="slds-select" id="select-01" disabled="">
                    <option value="">-Choose one-</option>
                    <option>Option One</option>
                    <option>Option Two</option>
                    <option>Option Three</option>
                </select>
                </div>
            </div>
        </div>
